<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkstec.crm.customer.mapper.C30002Mapper">
	<select id="getparthlx" resultType="map"
		parameterType="map">
		SELECT * FROM T_KH_FWLXK WHERE PARENT_ID is null
	</select>
	<select id="getchildthlx" resultType="map"
		parameterType="map">
		SELECT * FROM T_KH_FWLXK WHERE PARENT_ID = #{fwlxbh}
	</select>

	<!-- 根据分组ID查询存量客户 -->
	<select id="selectKhByKhfzid" resultType="map"
		parameterType="map">
		
	SELECT
			T_KH_XX.KHID AS "khid",
			T_KH_XX.KHXM AS "khxm",
			T_KH_XX.KHLX AS "khlx",
			T_KH_XX.ZHZT AS "zhzt",
			T_KH_XX_ZH.ZRYE AS "zrye",
			T_KH_XX.KHLY AS "khly",
			T_KH_XX.ORGID AS "orgid",
			(SELECT ORG_NAME FROM L_ORGANIZATION WHERE ORG_ID = T_KH_XX.ORGID )"orgname",
			T_KH_XX_ZH.ZRCC AS "zrcc",
			T_KH_XX_ZH.TOTAL_BUY_TIMES AS "total_buy_times",
			T_KH_XX_ZH.TOTAL_BUY_BALANCE AS "total_buy_balance",
			T_KH_XX_ZH.BY_BUY_BALANCE AS "by_buy_balance",
			T_KH_XX_ZH.SY_BUY_BALANCE AS "sy_buy_balance",
			T_KH_XX.KHSJ AS "khsj",
			T_KH_XX.FXCSNL AS "fxcsnl",
			T_KH_XX.GTSJ AS "gtsj",
			(SELECT RYID FROM T_GXGL_GXMX WHERE KHID = T_KH_XX.KHID AND ZGX_FLAG = '1' ) AS "ryid",
			(SELECT RYXM FROM T_GXGL_GXMX WHERE KHID = T_KH_XX.KHID AND ZGX_FLAG = '1' )  AS "ryxm",
			(
				SELECT
					BGDH
				FROM
					T_GXGL_GXMX A,T_EHR_JJR_JBXX B 
				WHERE
					A.KHID = T_KH_XX.KHID AND A.RYID = B.RYID 
				AND ZGX_FLAG = '1'
					) AS "sjhm"
		FROM
			T_KH_XX T_KH_XX
		LEFT JOIN T_KH_XX_ZH ON T_KH_XX_ZH.KHID = T_KH_XX.KHID
		WHERE 1=1
		AND T_KH_XX.KHID IN
		<if test="1==1">
			<include refid="case" />
		</if>
		${sql}
		order by T_KH_XX.KHID
	</select>

	<delete id="deleteByFzidAndKhid" parameterType="map">
		delete from T_KH_FZGX
		where 1=1
		<if test="khfzid!=null">
			and KHFZID = #{khfzid}
		</if>
		and KHID = #{khid}
		and RYID = #{ryid}
	</delete>
	<insert id="insertAllAdd" parameterType="String">
		${sql}
	</insert>
	<!-- 客户分组查询调价 -->
	<sql id="case">
		(
		SELECT
		gx.khid
		FROM
		T_KH_FZGX gx
		WHERE
		gx.ryid = #{ryid}
		AND gx.khfzid IN (
		SELECT
		khfzid
		FROM
		T_KH_FZ
		WHERE
		ryid = #{ryid}
		AND sfxs = '1'
		AND fzlx = '1'
		AND delflag = 1
		<if test="khfzId!=null">
			and KHFZID=#{khfzId}
		</if>

		UNION
		SELECT
		KHFZID
		FROM
		T_KH_FZ
		WHERE
		FZLX = '8'
		AND DELFLAG = 1
		AND SFXS =
		'1'
		<if test="khfzId!=null">
			and KHFZID=#{khfzId}
		</if>
		)
		)
	</sql>
	
	
	<!-- 最上级分类 -->
	<select id="selectiveFl" resultType="map"
		parameterType="map">
		<!-- select a.fl_id,a.parent_id, CASE when count(b.flid)>0 -->
		<!-- then a.name+'('+CONVERT(VARCHAR,count(b.flid),112)+')' -->
		<!-- else a.name END as name from -->
		<!-- T_KH_FL a LEFT JOIN T_KH_FLGX b on a.fl_id = b.flid, -->
		<!-- T_KH_XX /*LT*/ c -->
		<!-- where a.STATUS = '1' and c.KHID = b.KHID -->
		<!-- group by b.flid,a.fl_id, a.name,a.parent_id -->
		select fl_id,parent_id,name
		from T_KH_FL
		where STATUS = '1'
	</select>
	
</mapper>