<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkstec.smsc.log.C400107Mapper">

	<select id="getSMSLogs" parameterType="map" resultType="com.linkstec.smsc.log.C400107Dto">
		SELECT
			D .*, 
			E .ORG_NAME as orgname,
			F.xm,
			F.CURRENT_TYPE as rygw
		FROM
			(
				SELECT
					A .JGID,
					A .FSYGID,
					A .dxnr,
					LENGTH (A .dxnr) AS dxcd,
					c.khid,
					C.khxm,
					c.LXHM,
					trim(A.SHBZ) SHBZ,
					b.SHYGXM,
					trim(A .FSZT) FSZT,
					C.FSSJ,
					a.XXSCSJ,A.LSH
				FROM
				<if test="flag != null and flag =='today'">
					T_XXFW_FSNR_TODAY /*LT*/ A
					LEFT JOIN T_XXFW_FSNR_SHLS b ON A .LSH = b.DXSHLS
					LEFT JOIN T_XXFW_FSNR_FSDX_TODAY C ON c.FSLSH = A .LSH
				</if>
				<if test="flag != null and flag =='history'">
					T_XXFW_FSNR /*LT*/ A
					LEFT JOIN T_XXFW_FSNR_FSDX C ON c.FSLSH = A .LSH
					LEFT JOIN T_XXFW_FSNR_SHLS b ON A .LSH = b.DXSHLS
				</if>
			) D
		LEFT JOIN L_ORGANIZATION E ON D .jgid = E .ORG_ID
		LEFT JOIN T_EHR_JJR_JBXX F ON F.ryid = D .FSYGID
		where 1=1
		
		<if test="ksrq != null">
			 <![CDATA[
				and D.FSSJ >= #{ksrq}
			]]>
		</if>
		<if test="jsrq != null">
			<![CDATA[
				and D.FSSJ <= #{jsrq}
				]]>
		</if>
		<if test="fsr != null and fsr !=''">
			and F.XM like '%'||#{fsr}||'%'
		</if>
		<if test="jshm != null and jshm != ''">
			and D.LXHM like '%'||#{jshm}||'%'
		</if>
		<if test="nr != null and nr != ''">
			and D.DXNR like '%'||#{nr}||'%'
		</if>
		<if test="shzt != null and shzt !=''">
			and D.SHBZ = #{shzt}
		</if>
		<if test="fszt != null and fszt !=''">
			and D.FSZT = #{fszt}
		</if>
		<if test="yyb !=null">
			and D.JGID = #{yyb}
		</if>
		order by D.fssj desc
	</select>

</mapper>
