<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkstec.crm.customer.mapper.C900105Mapper">

    <select id="selectTXcjxNd" parameterType="map" resultType="com.linkstec.crm.customer.subDto.C900108Dto">
    SELECT 
        nd,bmmc,JGID,RYID,RYXM,ZJ,RZSJ,GZGCDF,ZZCDF,CPZCDF,ZSYJDF,TDZZDF,TDCPDF,TDYJDF,JLDF,MZDF 
    FROM T_XCJX_ND /*LT*/
    WHERE 1=1 
        <if test="nd !=null">
         AND nd = #{nd}
         </if>
         <if test="nd ==null">
         AND nd = to_number(to_char(sysdate,'yyyy'))
         </if>
        <if test="ryxm !=null">
         AND RYXM like '%'||#{ryxm}||'%' 
         </if>
         <if test="bmmc !=null">
         AND bmmc like '%'||#{bmmc}||'%' 
         </if>
    </select>
    <select id="selectCustBusiss" parameterType="map" resultType="com.linkstec.crm.customer.subDto.C900109Dto">
        SELECT
            F.ORG_NAME,
            A.JGID,
            TO_CHAR(A.KHSJ,'YYYYMMDD') AS KHSJ,
            A.RYID,
            A.KHID ZHID,
            A.KHXM XM,
            C.BMMC,
            C.XM JLXM,
            C.CURRENT_PLEVEL,
            A.GXLXBH,
            NVL(D.ZZC_RMB,0) AS ZZC_RMB,
            NVL(D.ZSZ,0) AS ZSZ,
            A.YJ,
            A.JYJ,
            A.ZJYL
        FROM
            (
            SELECT
            KHXX.BMID AS JGID,
            1 GXLXBH,
            KHXX.KHID,
            KHXX.KFRYID ryid,
            KHXX.KHXM,
            KHXX.KHSJ,
            SUM (PTYJ) YJ,
            SUM (PTJYJ) JYJ,
            SUM (PTZHJYL) ZJYL
        FROM
            T_KH_ZCXX_ZH KHXX
        WHERE 1=1
        <if test="endTime ==null or stateTime ==null">
                <![CDATA[
                    AND OC_DATE <= TO_CHAR(SYSDATE,'YYYYMMDD')
                ]]>
                </if>
                <if test="endTime !=null and stateTime !=null">
                <![CDATA[
                    AND OC_DATE <= #{endTime}
                    AND OC_DATE >= #{stateTime}
                ]]>
                </if>
            <if test="kskhsj !=null">
         <![CDATA[AND TO_CHAR(KHSJ,'YYYYMMDD') >= #{kskhsj}]]>
        </if>
        <if test="jskhsj !=null">
         <![CDATA[AND TO_CHAR(KHSJ,'YYYYMMDD')<= #{jskhsj}]]>
        </if>
        <if test="ryid !=null">
         AND KHXX.KFRYID = #{ryid}
        </if>
         AND KHXX.KFRYID IS NOT NULL
        <if test="cxlxbh != 1 and cxlxbh != null">
         AND KHXX.KFRYID IS NULL
        </if>
        GROUP BY BMID,KHID,KFRYID,KHXM,KHSJ
UNION ALL
SELECT
            KHXX.BMID AS JGID,
            2 GXLXBH,
            KHXX.KHID,
            KHXX.FWRYID ryid,
            KHXX.KHXM,
            KHXX.KHSJ,
            SUM (PTYJ) YJ,
            SUM (PTJYJ) JYJ,
            SUM (PTZHJYL) ZJYL
        FROM
            T_KH_ZCXX_ZH KHXX
        WHERE 1=1
        <if test="endTime ==null or stateTime ==null">
                <![CDATA[
                    AND OC_DATE <= TO_CHAR(SYSDATE,'YYYYMMDD')
                ]]>
                </if>
                <if test="endTime !=null and stateTime !=null">
                <![CDATA[
                    AND OC_DATE <= #{endTime}
                    AND OC_DATE >= #{stateTime}
                ]]>
                </if>
                <if test="kskhsj !=null">
         <![CDATA[AND TO_CHAR(KHSJ,'YYYYMMDD') >= #{kskhsj}]]>
        </if>
        <if test="jskhsj !=null">
         <![CDATA[AND TO_CHAR(KHSJ,'YYYYMMDD')<= #{jskhsj}]]>
        </if>
        <if test="ryid !=null">
         AND KHXX.FWRYID = #{ryid}
        </if>
         AND KHXX.FWRYID IS NOT NULL
        <if test="cxlxbh != 2 and cxlxbh != null">
         AND KHXX.FWRYID IS NULL
        </if>

        GROUP BY BMID,KHID,FWRYID,khxm,khsj
UNION ALL
SELECT
            KHXX.BMID AS JGID,
            3 GXLXBH,
            KHXX.KHID,
            KHXX.LCRYID ryid,
            KHXX.KHXM,
            KHXX.KHSJ,
            SUM (PTYJ) YJ,
            SUM (PTJYJ) JYJ,
            SUM (PTZHJYL) ZJYL
        FROM
            T_KH_ZCXX_ZH KHXX
        WHERE 1=1
        <if test="endTime ==null or stateTime ==null">
                <![CDATA[
                    AND OC_DATE <= TO_CHAR(SYSDATE,'YYYYMMDD')
                ]]>
        </if>
        <if test="endTime !=null and stateTime !=null">
                <![CDATA[
                    AND OC_DATE <= #{endTime}
                    AND OC_DATE >= #{stateTime}
                ]]>
        </if>
        <if test="kskhsj !=null">
         <![CDATA[AND TO_CHAR(KHSJ,'YYYYMMDD') >= #{kskhsj}]]>
        </if>
        <if test="jskhsj !=null">
         <![CDATA[AND TO_CHAR(KHSJ,'YYYYMMDD')<= #{jskhsj}]]>
        </if>
        <if test="ryid !=null">
         AND KHXX.LCRYID = #{ryid}
        </if>
         AND KHXX.LCRYID IS NOT NULL
        <if test="cxlxbh != 3 and cxlxbh != null">
         AND KHXX.LCRYID IS NULL
        </if>
        GROUP BY BMID,KHID,LCRYID,khxm,khsj
) A,
            T_EHR_JJR_JBXX C,
            (SELECT KHID,
                NVL(ZZC_RMB,0) AS ZZC_RMB ,
                NVL(ZSZ,0) AS ZSZ
             FROM T_KH_ZCXX_ZH KHXX
            WHERE 1=1
            <if test="endTime ==null">
                <![CDATA[
                    AND OC_DATE = TO_CHAR(SYSDATE,'YYYYMMDD')
                ]]>
            </if>
            <if test="endTime !=null">
                    AND OC_DATE = #{endTime}
            </if>
            <if test="kskhsj !=null">
             <![CDATA[AND TO_CHAR(KHSJ,'YYYYMMDD') >= #{kskhsj}]]>
            </if>
            <if test="jskhsj !=null">
             <![CDATA[AND TO_CHAR(KHSJ,'YYYYMMDD')<= #{jskhsj}]]>
            </if>
            <if test="ryid !=null and cxlxbh == null">
             AND (KHXX.KFRYID = #{ryid}
              OR KHXX.FWRYID = #{ryid}
              OR KHXX.LCRYID = #{ryid})
            </if>
             <if test="ryid !=null and cxlxbh == 1">
             AND KHXX.KFRYID = #{ryid}
            </if>             
            <if test="ryid !=null and cxlxbh == 2">
             AND KHXX.FWRYID = #{ryid}
            </if>             
            <if test="ryid !=null and cxlxbh == 3">
             AND KHXX.LCRYID = #{ryid}
            </if>
            <if test="ryid == null and cxlxbh == 3">
             AND KHXX.LCRYID IS NOT NULL 
            </if>
            <if test="ryid == null and cxlxbh == 2">
             AND KHXX.FWRYID IS NOT NULL 
            </if>
            <if test="ryid == null and cxlxbh == 1">
             AND KHXX.KFRYID IS NOT NULL
            </if>) D,
            L_ORGANIZATION F
        WHERE A.RYID = C.RYID (+)
          AND A.KHID = D.KHID (+)
          AND F.ORG_ID = A.JGID
          AND A.GXLXBH != 6
         <if test="cxlxbh != null">
         AND A.GXLXBH = #{cxlxbh}
        </if>
        <if test="orgId !=null">
         AND C.BMBH = #{orgId}
        </if>
        <if test="zj !=null">
         AND C.CURRENT_PLEVEL = #{zj}
        </if>
    </select>
    <select id="selectCustBusissTotal" parameterType="map" resultType="com.linkstec.crm.customer.subDto.C900109Dto">
        SELECT
            '汇总' AS ORG_NAME,
            '' AS JGID,
            '' AS KHSJ,
            '' AS RYID,
            '' AS ZHID,
            '' AS XM,
            '' AS BMMC,
            '' AS JLXM,
            '' AS CURRENT_PLEVEL,
            '' AS GXLXBH,
            NVL(SUM(D.ZZC_RMB),0) AS ZZC_RMB,
            NVL(SUM(D.ZSZ),0) AS ZSZ,
            NVL(SUM(a.YJ),0) AS YJ,
            NVL(SUM(a.JYJ),0) AS JYJ,
            NVL(SUM(a.ZJYL),0) AS ZJYL
        FROM
            (
            SELECT
            KHXX.BMID AS JGID,
            1 GXLXBH,
            KHXX.KHID,
            KHXX.KFRYID ryid,
            KHXX.KHXM,
            KHXX.KHSJ,
            SUM (PTYJ) YJ,
            SUM (PTJYJ) JYJ,
            SUM (PTZHJYL) ZJYL
        FROM
            T_KH_ZCXX_ZH KHXX
        WHERE 1=1
        <if test="endTime ==null or stateTime ==null">
                <![CDATA[
                    AND OC_DATE <= TO_CHAR(SYSDATE,'YYYYMMDD')
                ]]>
                </if>
                <if test="endTime !=null and stateTime !=null">
                <![CDATA[
                    AND OC_DATE <= #{endTime}
                    AND OC_DATE >= #{stateTime}
                ]]>
                </if>
            <if test="kskhsj !=null">
         <![CDATA[AND TO_CHAR(KHSJ,'YYYYMMDD') >= #{kskhsj}]]>
        </if>
        <if test="jskhsj !=null">
         <![CDATA[AND TO_CHAR(KHSJ,'YYYYMMDD')<= #{jskhsj}]]>
        </if>
        <if test="ryid !=null">
         AND KHXX.KFRYID = #{ryid}
        </if>
         AND KHXX.KFRYID IS NOT NULL
        <if test="cxlxbh != 1 and cxlxbh != null">
         AND KHXX.KFRYID IS NULL
        </if>
        GROUP BY BMID,KHID,KFRYID,KHXM,KHSJ
UNION ALL
SELECT
            KHXX.BMID AS JGID,
            2 GXLXBH,
            KHXX.KHID,
            KHXX.FWRYID ryid,
            KHXX.KHXM,
            KHXX.KHSJ,
            SUM (PTYJ) YJ,
            SUM (PTJYJ) JYJ,
            SUM (PTZHJYL) ZJYL
        FROM
            T_KH_ZCXX_ZH KHXX
        WHERE 1=1
        <if test="endTime ==null or stateTime ==null">
                <![CDATA[
                    AND OC_DATE <= TO_CHAR(SYSDATE,'YYYYMMDD')
                ]]>
                </if>
                <if test="endTime !=null and stateTime !=null">
                <![CDATA[
                    AND OC_DATE <= #{endTime}
                    AND OC_DATE >= #{stateTime}
                ]]>
                </if>
                <if test="kskhsj !=null">
         <![CDATA[AND TO_CHAR(KHSJ,'YYYYMMDD') >= #{kskhsj}]]>
        </if>
        <if test="jskhsj !=null">
         <![CDATA[AND TO_CHAR(KHSJ,'YYYYMMDD')<= #{jskhsj}]]>
        </if>
        <if test="ryid !=null">
         AND KHXX.FWRYID = #{ryid}
        </if>
         AND KHXX.FWRYID IS NOT NULL
        <if test="cxlxbh != 2 and cxlxbh != null">
         AND KHXX.FWRYID IS NULL
        </if>

        GROUP BY BMID,KHID,FWRYID,khxm,khsj
UNION ALL
SELECT
            KHXX.BMID AS JGID,
            3 GXLXBH,
            KHXX.KHID,
            KHXX.LCRYID ryid,
            KHXX.KHXM,
            KHXX.KHSJ,
            SUM (PTYJ) YJ,
            SUM (PTJYJ) JYJ,
            SUM (PTZHJYL) ZJYL
        FROM
            T_KH_ZCXX_ZH KHXX
        WHERE 1=1
        <if test="endTime ==null or stateTime ==null">
                <![CDATA[
                    AND OC_DATE <= TO_CHAR(SYSDATE,'YYYYMMDD')
                ]]>
        </if>
        <if test="endTime !=null and stateTime !=null">
                <![CDATA[
                    AND OC_DATE <= #{endTime}
                    AND OC_DATE >= #{stateTime}
                ]]>
        </if>
        <if test="kskhsj !=null">
         <![CDATA[AND TO_CHAR(KHSJ,'YYYYMMDD') >= #{kskhsj}]]>
        </if>
        <if test="jskhsj !=null">
         <![CDATA[AND TO_CHAR(KHSJ,'YYYYMMDD')<= #{jskhsj}]]>
        </if>
        <if test="ryid !=null">
         AND KHXX.LCRYID = #{ryid}
        </if>
         AND KHXX.LCRYID IS NOT NULL
        <if test="cxlxbh != 3 and cxlxbh != null">
         AND KHXX.LCRYID IS NULL
        </if>
        GROUP BY BMID,KHID,LCRYID,khxm,khsj
) A,
            T_EHR_JJR_JBXX C,
            (SELECT KHID,
                NVL(ZZC_RMB,0) AS ZZC_RMB ,
                NVL(ZSZ,0) AS ZSZ
             FROM T_KH_ZCXX_ZH KHXX
            WHERE 1=1
            <if test="endTime ==null">
                <![CDATA[
                    AND OC_DATE = TO_CHAR(SYSDATE,'YYYYMMDD')
                ]]>
            </if>
            <if test="endTime !=null">
                    AND OC_DATE = #{endTime}
            </if>
            <if test="kskhsj !=null">
             <![CDATA[AND TO_CHAR(KHSJ,'YYYYMMDD') >= #{kskhsj}]]>
            </if>
            <if test="jskhsj !=null">
             <![CDATA[AND TO_CHAR(KHSJ,'YYYYMMDD')<= #{jskhsj}]]>
            </if>
            <if test="ryid !=null and cxlxbh == null">
             AND (KHXX.KFRYID = #{ryid}
              OR KHXX.FWRYID = #{ryid}
              OR KHXX.LCRYID = #{ryid})
            </if>
             <if test="ryid !=null and cxlxbh == 1">
             AND KHXX.KFRYID = #{ryid}
            </if>             
            <if test="ryid !=null and cxlxbh == 2">
             AND KHXX.FWRYID = #{ryid}
            </if>             
            <if test="ryid !=null and cxlxbh == 3">
             AND KHXX.LCRYID = #{ryid}
            </if>
            <if test="ryid == null and cxlxbh == 3">
             AND KHXX.LCRYID IS NOT NULL 
            </if>
            <if test="ryid == null and cxlxbh == 2">
             AND KHXX.FWRYID IS NOT NULL 
            </if>
            <if test="ryid == null and cxlxbh == 1">
             AND KHXX.KFRYID IS NOT NULL
            </if>) D,
            L_ORGANIZATION F
        WHERE A.RYID = C.RYID (+)
          AND A.KHID = D.KHID (+)
          AND F.ORG_ID = A.JGID
          AND A.GXLXBH != 6
         <if test="cxlxbh != null">
         AND A.GXLXBH = #{cxlxbh}
        </if>
        <if test="orgId !=null">
         AND C.BMBH = #{orgId}
        </if>
        <if test="zj !=null">
         AND C.CURRENT_PLEVEL = #{zj}
        </if>
    </select>
<!--    <select id="selectRyCx" parameterType="map" resultType="com.linkstec.crm.customer.subDto.C900110Dto">
        SELECT a.bmmc,a.bmbh,a.ryid,a.xm,a.ygzt,b.AFTERZZC,b.ZZC_RMB,b.yj,b.jyj,b.zjyl,b.gjyj,b.gjjyj,b.gjjyl,b.khs,b.dbkhs,b.zjlr,b.zjlc
        FROM T_EHR_JJR_JBXX /*LT*/ a,
            (SELECT RYID,SUM(AFTERZZC)AFTERZZC,SUM(ZZC_RMB)ZZC_RMB,sum(yj) yj,
                    sum(jyj)jyj,sum(zjyl)zjyl,sum(gjyj)gjyj,sum(gjjyj)gjjyj,sum(gjjyl)gjjyl,
                    sum(CASE WHEN khsj is NOT NULL THEN 1 ELSE 0 END) khs ,
                    sum(CASE WHEN zzcrmb is NOT NULL THEN 1 ELSE 0 END) dbkhs,sum(zjlr1) zjlr,
                    sum(zjlc1) zjlc
            FROM(
                SELECT a.khid,a.ryid,b.khid AS BID,b.yj,b.jyj,b.zjyl,C.ZZC_RMB,D.ZZC_RMB AS AFTERZZC,
                        b.GJYJ,b.GJJYJ,b.GJJYL,e.KHSJ,b.ZZCRMB,b.ZJLR1,b.ZJLC1
                FROM
                    (SELECT khid,ryid FROM t_gxgl_gxmx WHERE gxlxbh =1) a ,
                    (SELECT khid,sum(yj) yj,sum(jyj)jyj,sum(zjyl)zjyl,sum(gjyj) gjyj,sum(gjjyj)gjjyj,sum(gjjyl) gjjyl ,sum(ZZC_RMB) zzcrmb,
                            sum(ZJLR) ZJLR1,sum(ZJLC) ZJLC1
                    FROM T_KH_ZCXX_HIS 
                    WHERE
                    <![CDATA[
                            OC_DATE <= TO_CHAR(#{endTime},'yyyymmdd') 
                            AND OC_DATE >= TO_CHAR(#{stateTime}, 'yyyymmdd')
                    ]]>
                     GROUP BY khid )b,
                    (SELECT KHID,ZZC_RMB FROM T_KH_ZCXX_HIS WHERE OC_DATE = TO_CHAR(#{endTime},'yyyymmdd') ) C,
                    (SELECT KHID,ZZC_RMB FROM T_KH_ZCXX_HIS WHERE OC_DATE = TO_CHAR(#{duiBiTime},'yyyymmdd')) D ,
                    (SELECT khid,khsj FROM T_KH_XX WHERE
                    <![CDATA[
                         khsj <= #{endTime} AND khsj  >= #{stateTime}
                    ]]>
                    ) e
                WHERE a.khid = b.khid(+) AND C.KHID(+) =A.KHID AND D.KHID(+) =A.KHID AND a.khid = e.khid(+)
            ) GROUP BY RYID
            )b
         WHERE a.ryid = b.RYID(+)
         <if test="orgName != null">
         AND a.bmmc like '%'||#{orgName}||'%' 
         </if>
         <if test="ryid != null">
         AND a.ryid = #{ryid}
         </if>
         <if test="zj != null">
         AND a.YGGW = #{zj}
         </if>
    </select> -->
    <select id="selectRyCx" parameterType="map" resultType="com.linkstec.crm.customer.subDto.C900110Dto">
        SELECT A.BMMC,A.BMBH,A.RYID,A.XM,A.YGZT,DBZZC.ZZC_RMB as AFTERZZC,XZZZC.ZZC_RMB,XZZZC.YJ,XZZZC.JYJ,XZZZC.ZJYL,XZZZC.GJYJ,XZZZC.GJJYJ,XZZZC.GJJYL,XZZZC.KHS,XZZZC.DBKHS,XZZZC.ZJLR,XZZZC.ZJLC
        FROM T_EHR_JJR_JBXX /*LT*/ A LEFT JOIN
        (SELECT RYID,
                SUM(CASE WHEN OC_DATE = TO_CHAR (#{endTime}, 'yyyymmdd') THEN ZZC_RMB ELSE 0 END) ZZC_RMB,
                SUM(PTYJ) YJ,
                SUM(PTJYJ) JYJ,
                SUM(PTZHJYL) ZJYL,
                SUM(GJYJ) GJYJ,
                SUM(GJJYJ) GJJYJ,
                SUM(GJJYL) GJJYL,
                SUM(CASE WHEN KHSJ IS NOT NULL THEN 1 ELSE 0 END) KHS,
                SUM(CASE WHEN OC_DATE = TO_CHAR (#{endTime}, 'yyyymmdd') THEN CASE WHEN ZZC_RMB >= 5000 THEN 1 ELSE 0 END ELSE 0 END) DBKHS,
                SUM(ZJLR1) ZJLR,
                SUM(ZJLC1) ZJLC
           FROM (
                SELECT
                    A.KFRYID RYID,
                    A.KFRYJGID JGID,
                    A.KFRYZJ ZJ,
                    A.KHID,
                    A.PTYJ,
                    A.PTJYJ,
                    A.PTZHJYL,
                    A.GJYJ,
                    A.GJJYJ,
                    A.GJJYL,
                    A.KHSJ,
                    A.ZZC_RMB,
                    A.ZJLR ZJLR1,
                    A.ZJLC ZJLC1,
                    A.OC_DATE
                FROM T_KH_ZCXX_ZH A
                WHERE 1= 1
                <if test="khrqEnd != null">
                   <![CDATA[AND  KHSJ <= #{khrqEnd}]]> 
                </if>
                <if test="khrqStart != null">
                     AND KHSJ >= #{khrqStart}
               </if>
               <![CDATA[AND OC_DATE <= TO_CHAR(#{endTime},'yyyymmdd') 
                    AND OC_DATE >= TO_CHAR(#{stateTime}, 'yyyymmdd')
               ]]> 
               <if test="ryid !=null">
                 AND KFRYID = #{ryid}
                </if>
                 AND KFRYID IS NOT NULL
                <if test="gxlxbh != 1 and gxlxbh != null">
                 AND KFRYID IS NULL
                </if>
            UNION ALL
                SELECT
                    A.FWRYID RYID,
                    A.FWRYJGID JGID,
                    A.FWRYZJ ZJ,
                    A.khid,
                    A.PTYJ,
                    A.PTJYJ,
                    A.PTZHJYL,
                    A.GJYJ,
                    A.GJJYJ,
                    A.GJJYL,
                    A.KHSJ,
                    A.ZZC_RMB,
                    A.ZJLR ZJLR1,
                    A.ZJLC ZJLC1,
                    A.OC_DATE
               FROM T_KH_ZCXX_ZH A
               WHERE FWRYID IS NOT NULL
                    <if test="khrqEnd != null">
                       <![CDATA[AND  KHSJ <= #{khrqEnd}]]> 
                    </if>
                    <if test="khrqStart != null">
                         AND KHSJ >= #{khrqStart}
                   </if> 
                   <![CDATA[ AND OC_DATE <= TO_CHAR(#{endTime},'yyyymmdd') 
                        AND OC_DATE >= TO_CHAR(#{stateTime}, 'yyyymmdd')
                   ]]> 
                   <if test="ryid !=null">
                     AND FWRYID = #{ryid}
                  </if>
                  <if test="gxlxbh != 2 and gxlxbh != null">
                     AND FWRYID IS NULL
                  </if>
             UNION ALL
                SELECT
                    A.LCRYID RYID,
                    A.LCRYJGID JGID,
                    A.LCRYZJ ZJ,
                    A.khid,
                    A.PTYJ,
                    A.PTJYJ,
                    A.PTZHJYL,
                    A.GJYJ,
                    A.GJJYJ,
                    A.GJJYL,
                    A.KHSJ,
                    A.ZZC_RMB,
                    A.ZJLR ZJLR1,
                    A.ZJLC ZJLC1,
                    A.OC_DATE
                FROM T_KH_ZCXX_ZH A
                WHERE LCRYID IS NOT NULL
                <if test="khrqEnd != null">
                       <![CDATA[AND  KHSJ <= #{khrqEnd}]]> 
                </if>
                 <if test="khrqStart != null">
                         AND KHSJ >= #{khrqStart}
                 </if>
                 <![CDATA[ AND OC_DATE <= TO_CHAR(#{endTime},'yyyymmdd') 
                           AND OC_DATE >= TO_CHAR(#{stateTime}, 'yyyymmdd')
                 ]]> 
                <if test="ryid !=null">
                     AND LCRYID = #{ryid}
                </if>
                <if test="gxlxbh != 3 and gxlxbh != null">
                    AND LCRYID IS NULL
                </if>
            )GROUP BY RYID
        ) XZZZC ON A.RYID = XZZZC.RYID
        LEFT JOIN (
             SELECT RYID,
                    SUM(ZZC_RMB) ZZC_RMB 
               FROM (
                  SELECT A.KFRYID RYID,
                         SUM(A.ZZC_RMB) ZZC_RMB
                    FROM T_KH_ZCXX_ZH A
                   WHERE KFRYID IS NOT NULL
                     AND OC_DATE = TO_CHAR(#{duiBiTime},'yyyymmdd') 
                    <if test="khrqEnd != null">
                       <![CDATA[AND  KHSJ <= #{khrqEnd}]]> 
                    </if>
                    <if test="khrqStart != null">
                         AND KHSJ >= #{khrqStart}
                   </if>
                   <if test="ryid !=null">
                     AND KFRYID = #{ryid}
                    </if>
                    <if test="gxlxbh != 1 and gxlxbh != null">
                     AND KFRYID IS NULL
                    </if>
                    GROUP BY KFRYID
                UNION ALL
                    SELECT
                        A.FWRYID RYID,
                        SUM(A.ZZC_RMB) ZZC_RMB
                   FROM T_KH_ZCXX_ZH A
                   WHERE FWRYID IS NOT NULL
                     AND OC_DATE = TO_CHAR(#{duiBiTime},'yyyymmdd') 
                        <if test="khrqEnd != null">
                           <![CDATA[AND  KHSJ <= #{khrqEnd}]]> 
                        </if>
                        <if test="khrqStart != null">
                             AND KHSJ >= #{khrqStart}
                       </if> 

                       <if test="ryid !=null">
                         AND FWRYID = #{ryid}
                      </if>
                      <if test="gxlxbh != 2 and gxlxbh != null">
                         AND FWRYID IS NULL
                      </if>
                      GROUP BY FWRYID
                 UNION ALL
                    SELECT
                        A.LCRYID RYID,
                        SUM(A.ZZC_RMB) ZZC_RMB
                    FROM T_KH_ZCXX_ZH A
                    WHERE LCRYID IS NOT NULL
                      AND OC_DATE = TO_CHAR(#{duiBiTime},'yyyymmdd')  
                    <if test="khrqEnd != null">
                           <![CDATA[AND  KHSJ <= #{khrqEnd}]]> 
                    </if>
                     <if test="khrqStart != null">
                             AND KHSJ >= #{khrqStart}
                     </if>
                    <if test="ryid !=null">
                         AND LCRYID = #{ryid}
                    </if>
                    <if test="gxlxbh != 3 and gxlxbh != null">
                        AND LCRYID IS NULL
                    </if>
                    GROUP BY LCRYID
                )GROUP BY  RYID) DBZZC 
              ON DBZZC.RYID = A.RYID
         WHERE 1=1
         <if test="orgName != null">
         AND A.BMBH like '%'||#{orgName}||'%' 
         </if>
         <if test="ryid != null">
         AND A.RYID = #{ryid}
         </if>
         <if test="zj != null">
         AND a.YGGW = #{zj}
         </if>
    </select>
    <select id="selectCustJiaoYiTable" parameterType="map" resultType="com.linkstec.crm.customer.subDto.C900112Dto">
		SELECT KHXX.KHID,
		       ORG.ORG_NAME,
		       KHXX.ORGID,
		       KHXX.ZHID,
		       KHXX.XM,
		       KHXX.SFZH,
		       KHXX.ZDDZ,
		       NVL(SUM(CASE WHEN OC_DATE = #{endTime} THEN ZCXX.ZZC_RMB END),0) AS ZZC_ZMB,
		       NVL(SUM(PTYJ),0) YJ,
		       NVL(SUM(GJJYL),0) GJJYL,
		       NVL(SUM(PTZHJYL),0) ZJYL,
		       NVL(SUM(PTJYJ),0) JYJ
		  FROM T_KH_XX /*LT*/ KHXX
		  LEFT JOIN L_ORGANIZATION ORG ON ORG.ORG_ID = KHXX.ORGID
		  LEFT JOIN T_KH_ZCXX_HIS ZCXX ON ZCXX.KHID = KHXX.KHID
		            <![CDATA[ AND OC_DATE <= #{endTime} AND OC_DATE >= #{stateTime}]]>
			  ,T_KH_JYQK JYQK
		 WHERE KHXX.KHID = JYQK.KHID
		 <if test="orgId!=null">
		 	AND KHXX.ORGID= #{orgId}
		 </if>
 		 GROUP BY KHXX.KHID, ORG.ORG_NAME, KHXX.ORGID, KHXX.ZHID, KHXX.XM, KHXX.SFZH, KHXX.ZDDZ
	</select>
    <select id="selectkhgxgl" parameterType="map" resultType="com.linkstec.crm.customer.subDto.C15011901Dto">
        SELECT 
            A.KHID, A.KHXM,A.RYID,A.GXLXBH,A.FPRQ,A.YHLX,A.JGID,A.SHZT,A.GXLY,A.GXZT,A.KZXX1,A.INSID,B.XM,C.MEMBER_NAME,D.ORG_NAME,E.CURRENT_TYPE
        FROM T_GXGL_GXMX /*LT*/  A 
            LEFT JOIN T_KH_XX B ON B.KHID = A.KHID
            LEFT JOIN L_MEMBER C ON C.MEMBER_ID = A.RYID
            LEFT JOIN L_ORGANIZATION D ON D.ORG_ID = A.JGID
            LEFT JOIN T_EHR_JJR_JBXX E ON E.RYID = C.MEMBER_NUM
        WHERE 1=1
        AND B.ZHZT != 'C'
        <if test="ryid!=null">
            AND A.ryid = #{ryid}
        </if>
        <if test="ryxm!=null">
            AND C.MEMBER_NAME = #{ryxm}
        </if>
        <if test="xm!=null">
            AND ( B.XM like '%'||#{xm}||'%' or B.khid like '%'||#{xm}||'%' )
        </if>
        <if test="shzt!=null">
            AND A.SHZT = #{shzt}
        </if>
        <if test="orgid!=null">
            AND A.JGID = #{orgid}
        </if>
    </select>
</mapper>