<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkstec.crm.customer.mapper.CallRecordMapper">

	<!--根据客户id查询是否存在客户数 -->
	<select id="selectCallRecordByKh" parameterType="map"
		resultType="String">
		select distinct f.client_id
		from t_kf_task f
		where exists (
		select 1 from crm.t_kh_xx x , crm.t_call_record t
		where t.call_type = 'dialout' and t.state = 'dealing' and t.agent between
		8001 and 8007
		and (t.call_no = x.gtsj or t.called_no = x.gtsj )
		<if test="khids!=null">
			and x.khid in
			<foreach collection="khids" open="(" separator="," close=")"
				item="item">
				#{item}
			</foreach>
		</if>
		<if test="sql!=null">
			and exists (select 1 from (${sql}) m where m."khid" = x.khid )
		</if>
		and x.khid=f.client_id
		and f.status ='2'
		)
	</select>

	<!-- 查询新接口预约记录 -->
	<select id="selectKhyyLog" parameterType="map" resultType="map">
		select * from t_log_khyy /*LT*/ t
		<where>
			<if test="status != null">
				t.status = #{status}
			</if>
			<if test="beginDate != null">
				and t.rec_gen_time &gt;= #{beginDate}
			</if>
			<if test="endDate !=null">
				and t.rec_gen_time &lt;= #{endDate}
			</if>
			<if test="brokerClientID !=null">
				and t.brokerClientID=#{brokerClientID}
			</if>
			<if test="clientName != null">
				and t.clientName = #{clientName}
			</if>
			<if test="clientPhone">
				and t.clientPhone = #{clientPhone}
			</if>
		</where>
		order by t.rec_gen_time desc
	</select>
	<select id="selectOtherCust" parameterType="map" resultType="map">
		select t.khid ,t.khxm,t.gtsj from t_kh_xx t where 1=1
		<if test="khids!=null">
			and ${khids}
		</if>
		<if test="sql!=null">
			and exists (select 1 from (${sql}) m where m."khid" =
			t.khid )
		</if>
		<if test="ryid!=null">
			and not exists(
			select 1 from t_gxgl_gxmx t2 where t.khid = t2.khid and t2.ryid = #{ryid}
			)
		</if>
		order by t.khid
	</select>

	<!-- 查询新接口预约记录 -->
	<select id="selectGxmxLog" parameterType="map" resultType="map">
		select * from t_log_gxmx /*LT*/ t
		<where>
			<if test="status != null">
				t.status = #{status}
			</if>
			<if test="beginDate != null">
				and t.rec_gen_time &gt;= #{beginDate}
			</if>
			<if test="endDate !=null">
				and t.rec_gen_time &lt;= #{endDate}
			</if>
			<if test="brokerClientID !=null">
				and t.brokerClientID=#{brokerClientID}
			</if>
			<if test="clientBranchNO != null">
				and t.clientBranchNO = #{clientBranchNO}
			</if>
			<if test="clientID">
				and t.clientID = #{clientID}
			</if>
		</where>
		order by t.rec_gen_time desc
	</select>

	<select id="selectKhdj" parameterType="map" resultType="map">
		select
		j.client_grade "clientGrade" from jhdc.clientpropertyjour j where
		j.client_id = (select max(t.khid) from t_kh_xx t where t.gtsj=#{sjhm})
	</select>

	<select id="selectMsgLog" parameterType="map" resultType="map">
		select a.*,E .ORG_NAME as orgname from (select t.lsh,
		t.dxnr,
		ceil( LENGTH(t.dxnr)/70) dxcd,
		t.jgid,
		t.dxlx,
		j.khid,
		j.khxm,
		j.lxhm,
		j.fssj,
		trim(j.fszt) fszt,
		j.ryid,
		trim(t.shbz) shbz,
		t.shygid,
		j.yhxm
		from t_xxfw_fsnr_today /*LT*/ t
		left join t_xxfw_fsnr_fsdx_today j
		on t.lsh = j.fslsh
		union all
		select t.lsh,
		t.dxnr,
		ceil( LENGTH(t.dxnr)/70) dxcd,
		t.jgid,
		t.dxlx,
		j.khid,
		j.khxm,
		j.lxhm,
		j.fssj,
		trim(j.fszt) fszt,
		j.ryid,
		trim(t.shbz) shbz,
		to_char(t.shygid),
		j.yhxm
		from t_xxfw_fsnr /*LT*/ t
		left join t_xxfw_fsnr_fsdx  j
		on t.lsh = j.fslsh
		) a
		left join L_ORGANIZATION E on E.ORG_ID = a.jgid
		where (1=1)
		<if test="ksrq != null">
			 <![CDATA[
				and TO_CHAR (a.FSSJ, 'YYYY-MM-DD') >= TO_CHAR (#{ksrq}, 'YYYY-MM-DD')
			]]>
		</if>
		<if test="jsrq != null">
			<![CDATA[
				and TO_CHAR (a.FSSJ, 'YYYY-MM-DD') <= TO_CHAR (#{jsrq}, 'YYYY-MM-DD')
				]]>
		</if>
		<if test="fsr != null and fsr !=''">
			and a.yhxm like '%'||#{fsr}||'%'
		</if>
		<if test="jshm != null and jshm != ''">
			and a.lxhm like '%'||#{jshm}||'%'
		</if>
		<if test="nr != null and nr != ''">
			and a.DXNR like '%'||#{nr}||'%'
		</if>
		<if test="shzt != null and shzt !=''">
			and a.SHBZ = #{shzt}
		</if>
		<if test="fszt != null and fszt !=''">
			and a.FSZT = #{fszt}
		</if>
		<if test="yyb !=null">
			and a.JGID = #{yyb}
		</if>
		    and a.dxlx not in ('5','3')
		
	</select>
</mapper>