<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkstec.crm.custRelation.mapper.custRelMapper">
<!-- 	根据身份证号码检查是否已经有普通预约 -->
	<select id="selectPtyyCntByKhsfzh" parameterType="map" resultType="java.lang.Integer">
		SELECT count(1) FROM T_GXGL_KHYY WHERE KHSFZH = #{khsfzh}
		<if test="id!=null">
		and id !=#{id}
		</if>
	</select>
	
	<!--根据手机号码检查是否已经有客户开户预约   已预约未开户，已预约已开户 这两种情况下不能有重复的名字和手机号-->
	<select id="selectPtyyCntByKHSJH" parameterType="map" resultType="java.lang.Integer">
		SELECT count(1) FROM T_GXGL_KHYY WHERE KHSJH = #{khsjh} and KHXM = #{khxm} AND YYZT IN ('1','2')
	</select>
	<select id="selectcountshz" parameterType="map" resultType="java.lang.Integer">
	SELECT count(1)
     FROM
     T_GXGL_GXMX
     where RYID=#{ryid} and SHZT=#{shzt}
	</select>
		<select id="selectcountshz1" parameterType="map" resultType="java.lang.Integer">
	SELECT count(1)
     FROM
     T_GXGL_FCGX
     where FCRYID=#{ryid} and SHZT=#{shzt}
	</select>
<!-- 	根据身份证号检查是否已有该客户 -->
	<select id="selectKhCntByZjhm" parameterType="java.lang.String" resultType="java.lang.Integer">
	SELECT count(1) FROM T_KH_XX WHERE ZJHM = #{khsfzh}
	</select>
	
<!-- 	筛选出不是两融的客户并且没有进行两融开户预约的开户 -->
	<select id="selectNotLrCust" resultType="map" parameterType="map">
	SELECT	khid,khxm,zjhm,gtsj FROM T_KH_XX A WHERE
	1=1
	<if test="detailFlag==null"> 
	 and NOT EXISTS (SELECT 1 FROM T_GXGL_KHYY b WHERE A.khid = b.khid and yylx = #{yylx} and YYZT != #{yyzt}
	 <if test="id!=null">
	  and id !=#{id}
	 </if>
	  
	  ) AND sf_lr is null
	</if>
	<if test="khid!=null">
	and khid = #{khid}
	</if>
	<if test="khxm!=null">
	and khxm like #{khxm}
	</if>
	<if test="zjhm!=null">
	and zjhm like #{zjhm}
	</if>
	<if test="gtsj!=null">
	and gtsj like #{gtsj}||'%'
	</if>
	</select>
	<!-- 	筛选出没有个股期权经纪关系，港股通经纪关系（包括审核中）的客户 -->
	<select id="selectNoGgGgtCust" resultType="map" parameterType="map">
	SELECT	khid,khxm,zjhm,gtsj FROM T_KH_XX A WHERE
	1=1 and not exists(select 1 from t_gxgl_gxmx c where c.khid = a.khid and gxlxbh=#{gxlxbh} )
	<if test="detailFlag==null"> 
	 and NOT EXISTS (SELECT 1 FROM T_GXGL_KHYY b WHERE A.khid = b.khid and yylx = #{yylx} and YYZT != #{yyzt}
	 <if test="id!=null">
	  and id !=#{id}
	 </if>
	  
	  ) 
	</if>
	<if test="khid!=null">
	and khid = #{khid}
	</if>
	<if test="khxm!=null">
	and khxm like #{khxm}
	</if>
	<if test="zjhm!=null">
	and zjhm like #{zjhm}
	</if>
	<if test="gtsj!=null">
	and gtsj like #{gtsj}||'%'
	</if>
	</select>
<!-- 	经济关系管理一览 -->
	<select id="selectGxmxView" parameterType="map" resultType="map">
	select
	(SELECT KHFLMC FROM T_CUST_TYPE WHERE KHFLDM= T2.KHFLDM) "khflmc",
    (select JG_NAME from L_ORGANIZATION_EXPAND where JGID=t2.ORGID) "orgname",
    t2.KHRQ "khrq",
    t2.KHID "khid",
    t2.KHXM "khxm", 
    t2.KHFLDM "khfldm",
    t2.RYID "ryid",
    t2.RYXM "ryxm",
    (select JG_NAME from crm.L_ORGANIZATION_EXPAND where JGID = t1.jgid) "jgName",
    t2.BL_FC "blFc",
    t2.FPRQ "fprq",
    t2.GXLY "gxly",
    t2.GXZT "gxzt",
    t2.INSID "insid",
    t2.SHZT "shzt",
    t2.SF_SD "sfSd",
    t2.REC_GEN_TIME,
    t2.ZGX_FLAG "zgxflag"
	from T_GXGL_GXMX /*LT*/ t2
	left join crm.t_Ehr_Jjr_Jbxx t1 on t2.ryid=t1.ryid
	where 1=1
	     <if test="orgid!=null">
			and to_char(t2.ORGID) IN
			<foreach collection="orgid" open="(" separator=","
					close=")" item="item">
					#{item}
				</foreach>
			</if>
			<if test="khid!=null">
			AND (to_char(t2.KHID) like trim(' ' FROM #{khid})||'%'  or t2.KHXM like '%'||trim(' ' FROM #{khid})||'%')
			</if>
			
			<if test="ryid1!=null">
             and t2.ryid in 
                 <foreach collection="ryid1" open="(" separator="," close=")" item="item">
	              #{item}
                </foreach>
            </if>
			
			<if test="ryid!=null">
			and (to_char(t2.RYID) like trim(' ' FROM #{ryid})||'%'  or t2.RYXM like '%'||trim(' ' FROM #{ryid})||'%')
			</if>
			
			
			
			<if test="shzt!=null">
			and t2.SHZT = #{shzt}
			</if>		
			<if test="gxly!=null">
			and t2.GXLY = #{gxly}
			</if>
			<if test="khfldm!=null">
			and t2.KHFLDM = #{khfldm}
			</if>
			
			<if test="khBeginTime!=null">
			and t2.KHRQ >= #{khBeginTime}
			</if>
			<if test="khEndTime!=null">
			and t2.KHRQ &lt;=#{khEndTime}
			</if>
			<if test="fpBeginTime!=null">
			and t2.FPRQ >=to_char(#{fpBeginTime},'yyyyMMdd')
			</if>
			<if test="fpEndTime!=null">
			and t2.FPRQ &lt;=to_char(#{fpEndTime},'yyyyMMdd')
			</if>
			<if test="sfSd!=null">
			and t2.SF_SD = #{sfSd}
			</if>
			order by 
		<if test="orderStr!=null">
		 ${orderStr},
		</if>
			t2.RYID,t2.KHID
			</select>
<!-- 	预约开户一览 -->
	<select id="selectYykh" parameterType="map" resultType="map">
	 select t.id,
       t.khid,
       t.khxm,
       t.khsjh,
       t.zjlx,
       t.khsfzh,
       t.yyrysj,
       t.yyryid,
       t.yyryxm,
       (select c.jg_name from crm.l_Organization_Expand c where c.jgid=a.jgid) orgname,
       a.jgid,
       t.yysj,
       t.yyzt,
       t.yylx,
       t.khrq,
       t.bz
  from  T_GXGL_KHYY /*LT*/ t left join crm.t_Ehr_Jjr_Jbxx a on t.yyryid=a.ryid
	where 1=1
	     <if test="jgid!=null">
			and a.jgid IN
			<foreach collection="jgid" open="(" separator=","
					close=")" item="item">
					#{item}
				</foreach>
			</if>
			<if test="khid!=null">
			AND  (t.khsjh like trim(' ' FROM #{khid})||'%'  or t.khxm like '%'||trim(' ' FROM #{khid})||'%' or t.khsfzh like '%'||trim(' ' FROM #{khid})||'%')
			</if>	
			<if test="ryid!=null">
			and (t.yyryid like trim(' ' FROM #{ryid})||'%'  or t.yyryxm like '%'||trim(' ' FROM #{ryid})||'%' or t.yyrysj like '%'||trim(' ' FROM #{ryid})||'%')
			</if>
			<if test="yylx!=null">
			and t.yylx = #{yylx}
			</if>		
			<if test="yyzt!=null">
			and t.yyzt = #{yyzt}
			</if>
			<if test="yyBeginTime!=null">
			and to_number(to_char(t.yysj,'yyyyMMdd')) &gt;=to_number(to_char(#{yyBeginTime},'yyyyMMdd'))
			</if>
			<if test="yyEndTime!=null">
			and to_number(to_char(t.yysj,'yyyyMMdd')) &lt;=to_number(to_char(#{yyEndTime},'yyyyMMdd'))
			</if>
			order by t.yysj desc,t.khid
			</select>
<!-- 	预约开户流水一览 -->
	<select id="selectYylskh" parameterType="map" resultType="map">
	 select t.id,
	   t.yysj,
	   t.khxm,
	   t.zjlx,
	   t.khsfzh,
	   t.khsjh,
	   t.yyryxm,
	    (select c.jg_name from crm.l_Organization_Expand c where c.jgid=a.jgid) orgname,
       a.jgid,
	   t.yyrysj,
	   t.yylx,
	   t.czlx,
	   t.czryxm,
	   t.REC_GEN_TIME
  from crm.T_GXGL_KHYY_LS t left join crm.t_Ehr_Jjr_Jbxx a on t.yyryid=a.ryid
	where 1=1
	     <if test="jgid!=null">
			and a.jgid IN
			<foreach collection="jgid" open="(" separator=","
					close=")" item="item">
					#{item}
				</foreach>
			</if>
			<if test="khid!=null">
			AND t.khsfzh like trim(' ' FROM #{khid})||'%'  or t.khxm like '%'||trim(' ' FROM #{khid})||'%' or t.khsjh like '%'||trim(' ' FROM #{khid})||'%'
			</if>	
			<if test="ryid!=null">
			and t.yyryid like trim(' ' FROM #{ryid})||'%'  or t.yyryxm like '%'||trim(' ' FROM #{ryid})||'%' or t.yyrysj like '%'||trim(' ' FROM #{ryid})||'%'
			</if>
			<if test="yylx!=null">
			and t.yylx = #{yylx}
			</if>		
			<if test="czlx!=null">
			and t.czlx = #{czlx}
			</if>
			<if test="czBeginTime!=null">
			and to_number(to_char(t.REC_GEN_TIME,'yyyyMMdd')) &gt;=to_number(to_char(#{czBeginTime},'yyyyMMdd'))
			</if>
			<if test="czEndTime!=null">
			and to_number(to_char(t.REC_GEN_TIME,'yyyyMMdd')) &lt;=to_number(to_char(#{czEndTime},'yyyyMMdd'))
			</if>
			order by t.REC_GEN_TIME desc
			</select>			
	<select id="findorg" parameterType="map" resultType="map">
	SELECT
		a.JGID "orgid",
		a.JG_NAME "orgname"
		FROM
			L_ORGANIZATION_EXPAND a
		WHERE
			1 = 1
		<if test="orgid!=null">
			and a.JGID=#{orgid}
		</if>
		</select>		
		
	<update id="UpdateKhfldm" parameterType="map">
	 update T_GXGL_GXMX
	 set KHFLDM=#{khfldm},BZ=#{bz}
	where RYID =#{ryid} and KHID=#{khid}
	</update>
<!-- 	增加关系明细 -->
<!-- 	<insert id="insertIntoGxmx" parameterType="com.linkstec.crm.custRelation.po.TGxglGxmx">
	insert into T_GXGL_GXMX(KHID,RYID,FPRQ,SHZT,ZGX_FLAG,BL_FC,ORGID,GXLY,BZ,FJ,rec_gen_time,rec_upd_time
	,insid,SF_SD)
	values(#{khid},#{ryid},#{fprq},#{shzt},#{zgxFlag},#{blFc},#{orgid},#{gxly},#{bz},#{fj},#{recGenTime},#{recUpdTime},#{insid},#{sfSd}
	)
	</insert> -->
	<update id="updateGxmx" parameterType="map">
	update T_GXGL_GXMX set 
	RYID=#{ryid}, 
 KHXM =#{khxm},
 GXLY =#{gxly},
 BGRYID =#{bgryid},
 GXZT =#{gxzt},
 REC_UPD_TIME =#{recUpdTime},
 RYXM =#{ryxm},
 BGRYXM =#{bgryxm},
 BL_FC =#{blFc},
 ORGID =#{orgid},
 FPRQ =#{fprq},
 KHFLDM =#{khfldm},
 INSID =#{insid},
 CZRYXM =#{czryxm},
 SHZT =#{shzt},
 ZGX_FLAG =#{zgxFlag},
 SF_SD = #{sfSd}
	 where 
	RYID=#{oldRyid} and KHID = #{khid}
	</update>	
   <update id="upGxmx" parameterType="map">
	update T_GXGL_GXMX set RYID=#{ryid},RYXM=#{ryxm},SHZT=#{shzt},BZ=#{bz},FJ=#{docids},rec_upd_time=#{recUpdTime},BGRYID=#{bgryid},BGRYXM=#{bgryxm},INSID=#{insId},GXZT=#{gxzt}
	 where 
	RYID=#{oldRyid} and KHID = #{khid}
	</update>
	
	 <update id="updateKhJgid" parameterType="map">
	update T_KH_XX set orgid=#{jgid} where khid=#{khid}
	</update>
	 <update id="updateGxJgid" parameterType="map">
	update T_GXGL_GXMX set orgid=#{jgid} where khid=#{khid} and ryid=#{ryid}
	</update>
	<update id="updateClientinfoxJgid" parameterType="map">
	update jhdc.clientinfox  set branch_no=#{jgid} where client_id=#{khid} 
	</update>
	<update id="updateClientpropertyjourJgid" parameterType="map">
	update jhdc.clientpropertyjour  set branch_no=#{jgid} where client_id=#{khid} 
	</update>
<!-- 检查客户是否已经存在该关系，或审核中的该关系	 -->
	<select id="selectKhgxCntByKhidAndGxlxbh" parameterType="map" resultType="java.lang.Integer">
	SELECT count(1) from T_GXGL_GXMX 
	where KHID = #{khid}
	and ryid =#{ryid}
	</select>	
	
	<select id="selectKhJjrgx" parameterType="java.lang.Long" resultType="map">
	SELECT * from T_GXGL_GXMX 
	where KHID = #{khid}
	and GXLY not in ('5')
	</select>	
	
<!-- 检查客户人员是否已经存在该关系，或审核中的该关系	 -->
	<select id="selectKhRygxCntByKhidAndGxlxbh" parameterType="map" resultType="java.lang.Integer">
	SELECT count(1) from T_GXGL_GXMX 
	where KHID = #{khid} AND ((GXLXBH = #{gxlxbh} and ryid = #{ryid}) or (BGHLX = #{gxlxbh} and BGRYID = #{ryid}))
	</select>	
<!-- 	根据人员编号获取营业部 -->
	<select id="selectOrgIdByKhid" parameterType="java.lang.Long" resultType="java.lang.Long">
	select to_number(JGID) from T_EHR_JJR_JBXX where RYID = #{ryid}
	</select>
<!-- 	根据客户编号获取客户姓名 -->
	<select id="selectKhxmByKhid" parameterType="java.lang.Long" resultType="java.lang.String">
	select khxm from t_kh_xx where khid = #{khid}
	</select>
	<!-- 	根据客户编号获取开户日期 -->
		<select id="selectKhrqByKhid" parameterType="java.lang.Long" resultType="java.util.Date">
	select KHSJ from t_kh_xx where khid = #{khid}
	</select>
<!-- 	根据khid,ryid找到客户关系数据 -->
	<select id="selectGxmxByKhRyGxlx" parameterType="map" resultType="com.linkstec.crm.custRelation.po.TGxglGxmx">
	select * from T_GXGL_GXMX where KHID =trim(' ' FROM #{khid})  and RYID=trim(' ' FROM #{ryid})
	</select>
	
	<select id="selectJjrFlowStatus" resultType="Long">
    select t.flow_status from crm.t_Ehr_Jjr_Jbxx t where t.ryid=#{newryid}
	</select>
	
	<!-- 	根据newryid找到客户关系数据 -->
	<select id="selectJjr" parameterType="map" resultType="com.linkstec.crm.employee.po.TEhrJjrJbxx">
	select t.* from crm.t_Ehr_Jjr_Jbxx t 
	left join crm.l_Organization_Expand a on t.jgid=a.jgid
    where a.gx_flag='A' and t.ryid=trim(' ' FROM #{newryid})
	</select>
	
<!-- 	根据khid到客户关系-->
	<select id="selectGxmxByKhGxlx" parameterType="map" resultType="com.linkstec.crm.custRelation.po.TGxglGxmx">
	select * from T_GXGL_GXMX where khid =#{khid}
		</select>
<!-- 	根据khid删除该客户人员关系-->
	<select id="deleteGxmxByKhRyGxlx" parameterType="map" >
	delete from T_GXGL_GXMX where
	KHID =#{khid} 
	</select>

<!-- 	根据khid删除该客户人员关系-->
	<select id="deleteGxmxByGxly" parameterType="map" >
	delete from T_GXGL_GXMX where
	KHID =#{khid} and gxly = '5'
	</select>
	<select id="selectGx" parameterType="long" resultType="com.linkstec.crm.custRelation.po.TGxglGxmx">
	select * from T_GXGL_GXMX where khid =#{khid}
		</select>
	<!-- 	根据khid删除该客户人员关系-->
	<select id="deleteGxmxByKhRyGxlxNew" parameterType="map" >
	delete from T_GXGL_GXMX where
	KHID =#{khid} and RYID = #{ryid}
	</select>
	<!--公共客户数据加工 -->
	<insert id="insertXNGXByRyAndKh" parameterType="map">
	INSERT INTO T_GXGL_GXMX
	  (KHID,
	   KHXM,
	   RYID,
	   RYXM,
	   ORGID,
	   GXLXBH,
	   FPRQ,
	   KHRQ,
	   SHZT,
	   GXZT,
	   BZ,
	   REC_UPD_TIME,
	   GXLY,
	   ZGX_FLAG,bl_fc)
	   SELECT t2.KHID,
	          t2.KHXM,
	          M2.RYID,
	          M2.XM AS RYXM,
	          t2.ORGID AS ORGID,
	          '1' AS GXLXBH,
	          #{lzrq} AS FPRQ,
	          t2.Khrq AS KHRQ,
	          '2' AS SHZT,
	          '1' AS GXZT,
	          '公共客户' AS BZ,
	          SYSDATE AS REC_UPD_TIME,
	          '5' AS GXLY,
	          '1' AS ZGX_FLAG,
              t2.bl_fc AS bl_fc
	     FROM (SELECT * FROM T_GXGL_GXMX WHERE RYID = #{ryid} and khid = #{khid}) T2
	    INNER JOIN T_KH_XX T1
	       ON T2.KHID = T1.KHID
	    INNER JOIN (SELECT * FROM T_EHR_JJR_JBXX WHERE CURRENT_TYPE = '15') M2
	       ON T1.ORGID = M2.JGID
	</insert>
<!-- 	根据khid删除该人员分成关系-->
	<select id="deleteFcgxByKhRy" parameterType="map" >
	delete from T_GXGL_FCGX where
	KHID =#{khid} 	
	and INSID!=#{insId}
	
	</select>
	<select id="deleteFcgxByKhid" parameterType="map" >
	delete from T_GXGL_FCGX where
	KHID =#{khid} 	
	
	
	</select>
	<select id="selectGxglByKhid" parameterType="map" resultType="com.linkstec.crm.custRelation.po.TGxglGxmx">
	select * from T_GXGL_GXMX where
	KHID =#{khid} 	
	</select>
	<select id="selectFcgxByKhid" parameterType="map" resultType="com.linkstec.crm.custRelation.po.TGxglFcgx">
	select * from T_GXGL_FCGX where
	KHID =#{khid} 	
	</select>
	
	<select id="deleteFcgxByKhandRy" parameterType="map" >
		delete from T_GXGL_FCGX where
		KHID =#{khid} and fcryid = #{ryid}
	</select>
<!-- 	根据人员查询出所有有效关系 -->
	<select id="selectGxmxByRyid" parameterType="map" resultType="map">
		SELECT
		 a.KHID "khid",
		 b.KHXM "khxm",
		 a.RYID "ryid",
		 a.RYXM "ryxm",
		 a.ORGID "orgid" ,a.fprq "fprq"
		 FROM T_GXGL_GXMX a INNER JOIN T_KH_XX b
		 on a.KHID = b.KHID where a.RYID = #{ryid} and SHZT not in ('1')	 
	</select>
	<!-- 	根据人员查询出渠道 -->
		<select id="selectOrgBykhid" parameterType="map" resultType="map">
		SELECT
			KH.KHID "khid",
			KH.ORGID "orgid",
			ORG.JG_NAME "orgname"
		FROM
			T_KH_XX KH
		LEFT JOIN L_ORGANIZATION_EXPAND ORG ON KH.ORGID = ORG.JGID
		WHERE
			KH.khid = #{khid}
	</select>
<!-- 	判断客户是否已经有投顾签约 -->
		<select id="selectKhTgqyCntByKhid" resultType="java.lang.Integer" parameterType="java.lang.Long">
		 select count(1) from T_GXGL_TGQY where khid = #{khid} and shzt in(1,2,4)
		 and  (to_char(XYJSRQ)>to_char(SYSDATE, 'yyyymmdd') or to_char(JYRQ)>to_char(SYSDATE, 'yyyymmdd'))
		</select>
<!-- 	判断客户是否已经有产品销售关系 -->
		<select id="selectKhXsgxCntByKhidAndCpdm" resultType="java.lang.Integer" parameterType="map">
	 select count(1) from t_prod_xsgx where khid = #{khid} and shzt in(1,2) and cpdm=#{cpdm}
		 
		</select>
		
<!-- 		根据人员编号获取人员姓名 -->
	<select id="selectRyxxByRyid" parameterType="map" resultType="map">
	select * from T_EHR_JJR_JBXX where 1=1 
	<if test="ryid!=null">
	and ryid = #{ryid}
	</if>
	</select>
<!-- 	检查该客户关系是否有分成审核中 -->
	<select id="selectFcgxShzCntByKhidAndShzt" resultType="java.lang.Integer" parameterType="map">
	SELECT count(1) from T_GXGL_FCGX where KHID = #{khid} AND SHZT = #{shzt}
	</select>
<!-- 	检查该客户关系是否在审核中 -->	
	<select id="selectGxmxShzCntByKhidAndShzt" resultType="java.lang.Integer" parameterType="map">
	SELECT count(1) from T_GXGL_GXMX where KHID = #{khid} AND RYID=#{ryid} AND SHZT = #{shzt}
	</select>
	<select id="selectShzCntByKhidAndShzt" resultType="java.lang.Integer" parameterType="map">
	SELECT count(1) from T_GXGL_GXMX where KHID = #{khid} and GXLXBH = #{gxlxbh} AND SHZT = #{shzt}
	</select>
	
<!-- 	关系流水一览 -->
	<select id="selectGxmxHis" parameterType="map" resultType="com.linkstec.crm.custRelation.dto.CR600S01Dto">
	SELECT
		A.*
<!-- 		, -->
<!-- 		(SELECT JG_NAME from L_ORGANIZATION_EXPAND where jgid = a.orgid) "orgname" -->
	FROM
		T_GXGL_GXMX_HIS 
		A
	WHERE 1=1
	<if test="khxm!=null">
	and (a.khxm like '%'|| trim(' ' FROM #{khxm})||'%' or a.khid like '%'||trim(' ' FROM #{khxm})||'%')
	</if>
	<if test="czryxm!=null">
	and (a.czryxm like '%'||trim(' ' FROM #{czryxm})||'%' or a.czryid like '%'||trim(' ' FROM #{czryxm})||'%')
	</if>
	<if test="fprqStart!=null">
	and to_number(to_char(a.REC_GEN_TIME,'yyyyMMdd')) &gt;=to_number(to_char(#{fprqStart},'yyyyMMdd'))
<!-- 	and a.REC_GEN_TIME &gt;= #{fprqStart} -->
	</if>
	<if test="fprqEnd!=null">
    and to_number(to_char(a.REC_GEN_TIME,'yyyyMMdd')) &gt;=to_number(to_char(#{fprqEnd},'yyyyMMdd'))
<!-- 	and a.REC_GEN_TIME &lt;= #{fprqEnd} -->
	</if>
	<if test="branchNo!=null">
	and  a.orgid in
	<foreach collection="branchNo" open="(" separator="," close=")" item="item">
		#{item}
	</foreach>
	</if>
	<if test="czlx!=null">
	and a.czlx = #{czlx}
	</if>
	<if test="memberName!=null">
	and (a.ryid like  trim(' ' FROM #{memberName}) 
	or a.ryxm like '%'|| trim(' ' FROM #{memberName})||'%' )
	</if>
	order by a.rec_gen_time desc
	</select>
	
	<select id="selectKhfbByCondition" parameterType="map" resultType="map">
	select a.ryid,b.MEMBER_NAME,a.khid,c.khxm ,a.FB_ID,f.jydy_id,f.jydy_name FROM T_KH_FWB /*LT*/ a
	inner JOIN L_MEMBER b ON a.RYID = b.MEMBER_ID 
	inner JOIN T_KH_XX c ON a.khid = c.khid
	left JOIN T_JYDY_XX f ON a.jydy_id = f.jydy_id AND f.jydy_cj= 1
<!-- 			LEFT JOIN( -->
<!-- 	select d.jydy_id,d.member_id,e.jydy_name from L_MEMBER_JYDY_REL d INNER JOIN  -->
<!-- 		T_JYDY_XX e ON d.jydy_id = e.jydy_id -->
<!-- 	)f ON b.member_id = f.member_id -->
	where 1=1 
	<if test="khxm!=null">
	and c.khxm like #{khxm}||'%'
	</if>
	<if test="ryxm!=null">
	and b.member_name like #{ryxm}||'%'
	</if>
	<if test="khjb!=null">
	and a.FB_ID = #{khjb}
	</if>
	<if test="jydyId!=null">
	and f.jydy_id = #{jydyId}
	</if>
	</select>
<!-- 	更新关系状态 -->
	<update id="updGxmxByKhRy" parameterType="map">
		update T_GXGL_GXMX set shzt = #{shzt},REC_UPD_TIME =SYSDATE where KHID =#{khid} and RYID = #{ryid}
	</update>
 <!-- 	更新分成关系审核状态 -->
	<update id="updateFcgxbyInsId" parameterType="map">
<!-- 	UPDATE T_GXGL_FCGX t -->
<!--    SET t.SHZT = #{shzt}, -->
<!--        t.fcbl = -->
<!--        (select b.bl_fc from crm.t_Gxgl_Gxmx b where b.khid = #{khid} and b.ryid=t.fcryid), -->
<!--        t.bz=(select b.bz from crm.t_Gxgl_Gxmx b where b.khid = #{khid} and b.ryid=t.fcryid) -->
<!--  where t.INSID = #{insId} -->

	UPDATE T_GXGL_FCGX SET SHZT =#{shzt}   where INSID = #{insId}
	</update> 
<!-- 	根据流程id查找分成关系 -->
	<select id="selectFcgxByInsId" parameterType="map" resultType="com.linkstec.crm.custRelation.po.TGxglFcgx">
	select * from T_GXGL_FCGX where INSID = #{insId}
	</select>
<!-- 	更新分成关系无效 -->
<update id="updateFcgxFalse" parameterType="com.linkstec.crm.custRelation.po.TGxglGxmx">
UPDATE T_GXGL_FCGX SET ZT = 0 where KHID = #{khid} and FCRYID = #{ryid}
</update>
<!-- 检查是否是分成关系 -->
<select id="selectFcCnt" parameterType="com.linkstec.crm.custRelation.po.TGxglGxmx" resultType="java.lang.Integer">
select count(1) from T_GXGL_FCGX  where KHID = #{khid} and FCRYID = #{ryid}
</select>
<!-- 删除老客户级别 -->
<delete id="deleteKhfbBykhId" parameterType="java.lang.Long">
delete from T_KH_FWB where 
1=1 
<if test="khid!=null">
 and  KHID = #{khid}
</if>
</delete>
<!-- 不存在的人员 -->
<select id="selectNotExistFwbRy" resultType="com.linkstec.crm.custRelation.po.TKhFwb">
SELECT * FROM T_KH_FWB where RYID
 NOT IN (SELECT  RYID FROM T_EHR_JJR_JBXX )
</select>
<!-- 不存在的导入客户 -->
<select id="selectNotExistFwbKh" resultType="com.linkstec.crm.custRelation.po.TKhFwb">
SELECT * FROM T_KH_FWB where khid
 NOT IN (
SELECT KHID FROM T_KH_XX 
)
</select>
<!-- 删除不存在的人员的客户服务包数据 -->
 <delete id="deleteKhfwbByRyOrKh" parameterType="map">
   DELETE FROM T_KH_FWB WHERE 1=1 
  <if test="khs!=null">and KHID IN
   <foreach collection="khs" open="(" separator="," close=")"
				item="item">
				#{item}
	</foreach>
  </if>
  <if test="rys!=null">
  and RYID IN
  (
  SELECT RYID FROM T_KH_FWB where RYID
 NOT IN (SELECT  RYID FROM T_EHR_JJR_JBXX )
  )
<!--    <foreach collection="rys" open="(" separator="," close=")" -->
<!-- 				item="item"> -->
<!-- 				#{item} -->
<!-- 	</foreach> -->
  </if>
</delete>
<!-- 删除不存在的人员或者客户关系明细 -->
 <delete id="deleteGxmmByRyOrKh" parameterType="map">
  DELETE FROM T_GXGL_GXMX WHERE 1=1 
   <if test="khs!=null">and KHID IN
   <foreach collection="khs" open="(" separator="," close=")"
				item="item">
				#{item}
	</foreach>
  </if>
  <if test="rys!=null">
  and RYID IN
   (
  SELECT RYID FROM T_KH_FWB where RYID
 NOT IN (SELECT  RYID FROM T_EHR_JJR_JBXX )
  )
<!--    <foreach collection="rys" open="(" separator="," close=")" -->
<!-- 				item="item"> -->
<!-- 				#{item} -->
<!-- 	</foreach> -->
  </if>
  <if test = "gxlxbh!=null">  and GXLXBH = #{gxlxbh}</if>
  <if test = "shzt!=null"> and SHZT =  #{shzt}</if>
  </delete>
  
  <insert id="insertGxglGxmx" parameterType="map">
  		INSERT INTO T_GXGL_GXMX(KHID,RYID,GXLXBH,SHZT) values(
							#{khId},
							#{ryId},
							#{lcfw},
							#{shtg})
  </insert>
  <insert id="insertGxglGxmxPl" parameterType="map">
  		INSERT INTO T_GXGL_GXMX(KHID,RYID,GXLXBH,SHZT,REC_UPD_TIME) 	
  		<foreach collection="insertParam" separator="union all" index="index" item="item">  
            	select #{item.khid},#{item.ryid},'3','2',SYSDATE  from dual
        </foreach>  
  </insert>
   <insert id="insertKhFwbPl" parameterType="map">
   INSERT INTO T_KH_FWB(RYID,KHID,FB_ID,FBMC,jydy_id,REC_UPD_TIME)  
    <foreach collection="insertParam" separator="union all" index="index" item="item">  
  	select #{item.ryid},#{item.khid},#{item.fbId},#{item.fbmc},#{item.jydyId},SYSDATE from dual  
   </foreach>  
  </insert>
  <select id="selectPlGxglAdd" parameterType="map" resultType="map">
  	SELECT JBXX.XM "memberName",kh.khxm "khxm",CT.khflmc "khflmc",info.khid "khid",INFO.ryid "ryid",INFO.fprq "fprq",INFO.gxlxbh "gxlxbh",INFO.khfldm "khfldm",INFO.sf_sd "sfsd" FROM (
	SELECT * FROM T_GXGL_GXMX WHERE INSID = #{insId}
	) info LEFT JOIN T_EHR_JJR_JBXX jbxx ON info.ryid= JBXX.RYID
	LEFT JOIN T_KH_XX kh ON info.khid = kh.khid
	LEFT JOIN T_CUST_TYPE ct ON ct.khfldm = info.khfldm  
  </select>
  <update id="updatePlGxglAdd" parameterType="map">
	UPDATE T_GXGL_GXMX SET SHZT =#{shztNew} ,REC_UPD_TIME =SYSDATE
	<if test="bz!=null"> 
		,bz = #{bz}
	</if>
	 WHERE SHZT =#{shzt} AND INSID = #{insId}
  </update>
  <delete id="deletePlGxglAdd" parameterType="map">
	DELETE FROM T_GXGL_GXMX WHERE SHZT =#{shzt} AND INSID = #{insId}
  </delete>
  
  <!-- 	根据人员查询出所有关系 -->
	<select id="selectGxmxByRyidForGxqx" parameterType="map" resultType="map">
	SELECT
		 a.KHID "khid",
		 a.KHXM "khxm",
		 a.RYID "ryid",
		 a.RYXM "ryxm",
		 a.ORGID "orgid",
		 (SELECT ORG_NAME FROM L_ORGANIZATION WHERE ORG_ID = a.ORGID) "orgname",
		 a.BL_FC "fcbl",
		 a.KHFLDM "khfldm",
	  	 (SELECT KHFLMC FROM T_CUST_TYPE WHERE KHFLDM = a.KHFLDM) "khflmc",
		 a.ZGX_FLAG "zgxflag",
		 a.FPRQ  "fprq",
		 a.SHZT "shzt"
	FROM T_GXGL_GXMX a
		where a.RYID = #{ryid}
		<if test="khid!=null">
			and a.khid = #{khid}
		</if>
		<if test="khids!=null">
			AND KHID IN 
		<foreach collection="khids" open="(" separator="," close=")"
				item="item">
				#{item}
		</foreach>
		</if>
	</select>
	
	 <!-- 	根据人员查询出所有关系 -->
	<select id="selectGxmxHisByRyidForGxqx" parameterType="map" resultType="map">
	SELECT
		 a.KHID "khid",
		 a.KHXM "khxm",
		 a.RYID "ryid",
		 a.RYXM "ryxm",
		 a.ORGID "orgid",
		 (SELECT ORG_NAME FROM L_ORGANIZATION WHERE ORG_ID = a.ORGID) "orgname",
		 a.BL_FC "fcbl",
		 a.KHFLDM "khfldm",
	  	 (SELECT KHFLMC FROM T_CUST_TYPE WHERE KHFLDM = a.KHFLDM) "khflmc",
		 a.FPRQ  "fprq",
		 a.SHZT "shzt"
	FROM T_GXGL_GXMX_HIS a
		where a.RYID = #{ryid} and a.insid=#{insId}
		<if test="khid!=null">
			and a.khid = #{khid}
		</if>
		<if test="khids!=null">
			AND KHID IN 
		<foreach collection="khids" open="(" separator="," close=")"
				item="item">
				#{item}
		</foreach>
		</if>
	</select>
   <!--取消流程发起之前更新关系表中的状态  --> 
	<update id="updateGXMXForDeleteGx" parameterType="map">
		UPDATE T_GXGL_GXMX SET SHZT = '1' ,GXZT = '3' ,INSID = #{insid} WHERE RYID = #{ryid} 
		<if test="khids!=null">AND KHID IN 
		<foreach collection="khids" open="(" separator="," close=")"
				item="item">
				#{item}
		</foreach>
		</if>
	</update>
	
<!-- 检查关系是否存在 -->
<select id="checkGxmx" parameterType="map" resultType="map">
select KHID,RYID,RYXM
from T_GXGL_GXMX
where KHID=#{khid}
</select>
<select id="selectFcgxview" parameterType="map" resultType="map">
SELECT 
       a.KHID,
       a.KHXM,
       a.FCRYID,
       a.FCRYXM,
       a.ORGNAME,
       a.fcbl,
       a.SXRQ,
       a.CJR,
       a.ZT,
       a.SHZT,
       a.INSID,
       a.REC_GEN_TIME
FROM T_GXGL_FCGX /*LT*/ a 
WHERE 1=1
<if test="orgid!=null">
 AND ORGID IN
 			<foreach collection="orgid" open="(" separator=","
					close=")" item="item">
					#{item}
				</foreach>
</if>
<if test="kh!=null">
AND (KHID like '%'|| trim(' ' FROM #{kh})||'%' or KHXM like '%'||trim(' ' FROM #{kh})||'%')
</if>
<if test="jjr!=null">
AND (FCRYID like '%'|| trim(' ' FROM #{jjr})||'%' or FCRYXM like '%'||trim(' ' FROM #{jjr})||'%')
</if>
<if test="zt!=null">
AND ZT=#{zt}
</if>
order by 
		<if test="orderStr!=null">
		 ${orderStr},
		</if>
REC_GEN_TIME DESC,SHZT
</select>
<select id="shCount" parameterType="map" resultType="long">
SELECT count(1)
     FROM
     T_GXGL_FCGX
     where FCRYID=#{ryid} and KHID=#{khid} and SHZT=#{shzt}
</select>
	<select id="findTCust" parameterType="map" resultType="com.linkstec.crm.custType.po.TCustType">
		SELECT * FROM T_CUST_TYPE 
		WHERE khflmc = #{khflmc}
		
	</select>
 </mapper>