<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkstec.crm.employee.mapper.EMP04AMapper">


	<insert id="insertMember" parameterType="com.linkstec.lmspcom.auth.member.po.LMember">
		INSERT INTO "L_MEMBER" (
		"MEMBER_ID",
		"REC_GEN_TIME",
		"MEMBER_GENDER",
		"MEMBER_MOBILE",
		"MEMBER_NAME",
		"MEMBER_TYPE",
		"DELETE_FLAG",
		"MEMBER_NUM",
		"REC_VERSION"
		)
		VALUES
		(
		#{id},
		SYSDATE,
		#{gender},
		#{mobile},
		#{name},
		#{type},
		'0',
		#{memberNum},
		'0'
		)
	</insert>
	<insert id="insertLMemberRoleRel" parameterType="com.linkstec.lmspcom.auth.rel.po.LMemberRoleRel">
		INSERT INTO crm.l_Member_Role_Rel (
		"MEMBER_ID",
		"ROLE_ID",
		"REC_GEN_TIME"
		)
		VALUES
		(
		#{memberId},
		#{roleId},
		SYSDATE
		)
	</insert>
	<!-- 往T_EHR_JJR_JBXX表insert -->
	<insert id="insertIntoTEhrJjrJbxx" parameterType="com.linkstec.crm.employee.po.TEhrJjrJbxx">
		insert into
		t_ehr_jjr_jbxx
		(bz,rynum,xm,ygztid,sfzh,flow_status,rec_upd_time,bgdh,lsgw,rzrq,zglc,rec_gen_time,
		xb,ryid,htdqr,hgbz,zjlb,gwgxrq,ins_id,qyht,current_plevel,zglc_status,fjs,lzrq,
		zbxz,dlzt,jgid,lzlc,current_type,htqdr,ryjs,zzrq)
		values (#{bz} ,#{rynum},#{xm} ,#{ygztid},#{sfzh} ,#{flowStatus} ,NULL
		,#{bgdh} ,NULL ,#{rzrq} ,NULL ,SYSDATE ,
		#{xb} ,#{ryid} ,#{htdqr}
		,#{hgbz} ,#{zjlb} ,NULL ,NULL ,#{qyht},#{currentPlevel} ,NULL ,#{fjs}
		,NULL ,
		#{zbxz} ,NULL ,#{jgid},NULL ,#{currentType},#{htqdr},#{ryjs},#{zzrq})
	</insert>
	
	<!-- 往L_MEMBER_KF表insert -->
	<insert id="insertIntoLMemberKf" parameterType="com.linkstec.sys.module.login.po.MemberKf">
		insert into
		L_MEMBER_KF
		(id,account,password)
		values (#{id},#{account} ,#{password})
	</insert>
	
	<!-- 往T_EHR_JJR_JBXX_YY表insert -->
	<insert id="insertIntoTEhrJjrJbxxYy" parameterType="com.linkstec.crm.employee.po.TEhrJjrJbxxYy">
		insert into
		t_ehr_jjr_jbxx_yy
		(xm,ygztid,sfzh,flow_status,rec_upd_time,rec_gen_time,ins_id,jgid,
		order_time,order_user,order_status,)
values (#{xm} ,#{ygztid},#{sfzh} ,#{flowStatus} ,NULL,SYSDATE ,NULL ,#{jgid},
#{orderTime},#{orderUser},#{orderStatus})
	</insert>
	<!-- 往l_member_organization_rel表insert -->
	<update id="UpLMemberOrganizationRel" parameterType="map">
		UPDATE
		l_member_organization_rel
		SET
		ORG_ID=#{orgId}
		where
		MEMBER_ID=#{memberId} 
	</update>
	
	<insert id="insertLuser" parameterType="com.linkstec.lmspcom.auth.user.po.LUser">
		INSERT INTO L_USER (
		USER_ID,
		REC_GEN_TIME,
		CUSTOM_SETTING,
		MEMBER_ID,
		USER_PWD,
		USER_STATUS,
		USER_NAME,
		DELETE_FLAG,
		LAST_TIME,
		START_TIME,
		END_TIME,
		PWD_STATE,
		LOGIN_TIMES,
		REC_VERSION
		)
		VALUES
		(
		#{id},
		#{recGenTime},
		NULL,
		#{memberId},
		#{password},
		'1',
		#{userName},
		'0',
		NULL,
		NULL,
		NULL,
		'1',
		NULL,
		1
		)
	</insert>
	<!-- ································角色申请用sql begin··········································· -->
	<!--根据角色id找到下面人员信息 -->
	<select id="findMemberInfoByroleId" parameterType="map"
		resultType="map">
		SELECT
		a.member_id "id",
		L_MEMBER.MEMBER_NAME "name",
		T_EHR_JJR_JBXX.current_type "type",
		T_EHR_JJR_JBXX.jgid "orgId",
		d.org_name "orgrName",
		'1' "status",
		null "insId",XX.jydy_name
		"jydyName"
		FROM
		L_MEMBER_ROLE_REL A
		INNER JOIN L_MEMBER /*LT*/ L_MEMBER
		ON A .member_id =
		L_MEMBER.MEMBER_ID
		LEFT JOIN T_EHR_JJR_JBXX
		T_EHR_JJR_JBXX ON
		L_MEMBER.member_num = T_EHR_JJR_JBXX.ryid
		LEFT JOIN
		L_ORGANIZATION d
		ON T_EHR_JJR_JBXX.jgid=d.org_id
		LEFT JOIN (
		SELECT
		MEMREL.MEMBER_ID,xx.JYDY_NAME
		FROM
		L_MEMBER_JYDY_REL memRel
		INNER JOIN
		T_JYDY_XX xx ON memRel.jydy_id =
		xx.jydy_id
		AND xx.jydy_cj = 1
		) XX ON
		xx.member_id = L_MEMBER.member_id
		WHERE a.ROLE_ID = #{roleId}
		and NOT
		EXISTS (
		SELECT
		1
		FROM
		T_MEMBER_ROLE_REL_INS
		WHERE
		A .MEMBER_ID =
		T_MEMBER_ROLE_REL_INS.MEMBER_ID
		AND a.ROLE_ID =
		T_MEMBER_ROLE_REL_INS.ROLE_ID
		)
		<if test="memberName!=null">
			and L_MEMBER.MEMBER_NAME like '%'||#{memberName}||'%'
		</if>
		union
		SELECT
		a.member_id "id",
		L_MEMBER.MEMBER_NAME "name",
		T_EHR_JJR_JBXX.current_type "type",
		T_EHR_JJR_JBXX.jgid "orgId",
		d.org_name "orgrName",
		a.STATUS "status",
		a.ins_id "insId",XX.jydy_name
		"jydyName"
		FROM
		T_MEMBER_ROLE_REL_INS A
		INNER JOIN L_MEMBER L_MEMBER ON A
		.member_id =
		L_MEMBER.MEMBER_ID
		INNER JOIN
		T_EHR_JJR_JBXX /*LT*/
		T_EHR_JJR_JBXX ON
		L_MEMBER.member_id = T_EHR_JJR_JBXX.ryid
		INNER JOIN
		L_ORGANIZATION d
		ON T_EHR_JJR_JBXX.jgid=d.org_id
		LEFT JOIN (
		SELECT
		MEMREL.MEMBER_ID,xx.JYDY_NAME
		FROM
		L_MEMBER_JYDY_REL memRel
		INNER JOIN
		T_JYDY_XX xx ON memRel.jydy_id =
		xx.jydy_id
		AND xx.jydy_cj = 1
		) XX ON
		xx.member_id = L_MEMBER.member_id
		WHERE a.ROLE_ID = #{roleId}
		<if test="memberName!=null">
			and L_MEMBER.MEMBER_NAME like '%'||#{memberName}||'%'
		</if>
	</select>

	<!-- 流程中查询发起审核的人员 -->
	<select id="findApplyingMemberInfo" parameterType="map"
		resultType="map">
		SELECT
		L_MEMBER.MEMBER_ID "id",
		L_MEMBER.MEMBER_NAME "name",
		T_EHR_JJR_JBXX.CURRENT_TYPE "type",
		XX.JYDY_NAME "jydyName"
		FROM
		L_MEMBER
		LEFT JOIN T_EHR_JJR_JBXX ON L_MEMBER.MEMBER_NUM =
		T_EHR_JJR_JBXX.RYID
		LEFT JOIN (
		SELECT
		MEMREL.MEMBER_ID,xx.JYDY_NAME
		FROM
		L_MEMBER_JYDY_REL memRel
		INNER JOIN T_JYDY_XX xx ON memRel.jydy_id =
		xx.jydy_id
		AND xx.jydy_cj = 1
		) XX ON xx.member_id = L_MEMBER.member_id
		WHERE L_MEMBER.member_id in
		(${memberIds})
		order by
		L_MEMBER.MEMBER_ID
	</select>



	<!-- 清楚角色申请无效数据 -->
	<delete id="deleteRoleSqwxsj" parameterType="map">
		DELETE FROM
		T_MEMBER_ROLE_REL_INS WHERE ROLE_ID = #{roleId} and ins_id =#{insId}
	</delete>
	<!-- 	插入新增渠道事件订阅信息 -->
	<insert id="insertNewOrgRuleFilter" parameterType="map">
	insert into RRL_BRANCH_RULE_FILTER
		( rule_id,gen_user_id,subscribe_status,custom_flag,
		branch_id,rec_gen_time)
		select distinct rule_id,
		#{memberId} genUserId,
		'03' subscribeStatus,
		'01' customFlag,
		#{jgid} branch_id ,
		sysdate
		from RRL_BRANCH_RULE_FILTER
	</insert>
</mapper>
 