<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkstec.crm.system.mapper.JG100AMapper">
       <select id="selectJgidKh" resultType="int">
      select count(*) from crm.l_Organization_Expand t inner join crm.T_KH_XX  a on t.jgid=a.orgid where t.jgid=#{jgid}
	  </select>
	<select id="selectpt" parameterType="map" resultType="com.linkstec.crm.system.dto.JG100A01OutDto">
		select
		t.product_type_name,p.product_name,p.codesimple_name,p.product_code,p.fund_company,p.product_type
		from jhdc.productProperty p LEFT JOIN
		jhdc.productTypeConfig t ON p.product_type = t.product_type
		where (trim(' ' FROM #{productCode}) is null and instr(trim(' ' FROM #{productType}),','||p.product_type||',')>0) or instr(trim(' ' FROM #{productCode}),p.product_code)>0	
	</select>
	<select id="selectptypename" parameterType="map" resultType= "map">
		select p.product_type from jhdc.producttypeconfig p where instr(trim(' ' FROM #{productName}),p.product_type_name)>0
	</select>
	<insert id="insertlorg" parameterType="map">
		${sql}
	</insert>
	<select id="selectJGbymember" parameterType="String" resultType="map">
		select l.jgid,l.super_id  from L_ORGANIZATION_EXPAND /*LT*/ l
	</select>
	<!-- 查询渠道名称与编号 ，不展示下线渠道-->
	<select id="findJGFromLorganization" parameterType="map"
		resultType="com.linkstec.crm.system.dto.BaseJGDto">
		select
		'('||jgid||')'|| jg_name "jg_name",
		super_id,jgid,jg_type,jg_status,s_type, jg_type_sub
		FROM
		L_ORGANIZATION_EXPAND /*LT*/ a
		<where>
		jg_status !=2
		<if test="jgTypeSub==1">
		and a.jg_type_sub in ('1','4')
		</if>
		<if test="jgTypeSub==2">
		and a.jg_type_sub=2
		</if>
<!-- 		过滤不展示的渠道类型  引流渠道-->
		<if test="bz">
		and a.jg_type_sub &lt;&gt; 5
		</if>
		</where>
		order by jgid
	</select>
	<!-- 查询渠道名称与编号 -->
	<select id="findLorganization" parameterType="map"
		resultType="com.linkstec.crm.system.dto.BaseJGDto">
		select
		'('||jgid||')'|| jg_name "jg_name",
		super_id,jgid,jg_type,jg_status,s_type, jg_type_sub
		FROM
		L_ORGANIZATION_EXPAND /*LT*/ a
		<where>
		<if test="jgTypeSub!=null">
		 a.jg_type_sub in ('1','4')
		</if>
		</where>
		order by jgid
	</select>
	
	<!-- 查询渠道名称与编号,去除下线渠道(礼品渠道权限控制 包含的渠道) -->
	<select id="findLorganizationInc" parameterType="map"
		resultType="com.linkstec.crm.system.dto.BaseJGDto">
		select
		'('||jgid||')'|| jg_name "jg_name",
		super_id,jgid,jg_type,jg_status,s_type, jg_type_sub
		FROM
		L_ORGANIZATION_EXPAND /*LT*/ a
		<where>
		a.jg_status !=2
		<if test="jgTypeSub!=null">
			and	a.jg_type_sub  not in (${jgTypeSub})
<!-- 			<foreach collection="jgTypeSub" open="(" separator="," close=")" item="item"> -->
<!-- 				#{item} -->
<!-- 			</foreach> -->
		</if>
		</where>
		order by jgid
	</select>
	
	<!-- 查询渠道名称与编号,去除下线渠道(礼品渠道权限控制 不包含的渠道) -->
	<select id="findLorganizationExcpt" parameterType="map"
		resultType="com.linkstec.crm.system.dto.BaseJGDto">
		select
		'('||jgid||')'|| jg_name "jg_name",
		super_id,jgid,jg_type,jg_status,s_type, jg_type_sub
		FROM
		L_ORGANIZATION_EXPAND /*LT*/ a
		<where>
		a.jg_status !=2
		<if test="jgTypeSub!=null">
			and	a.jg_type_sub   in (${jgTypeSub})
<!-- 			<foreach collection="jgTypeSub" open="(" separator="," close=")" item="item"> -->
<!-- 				#{item} -->
<!-- 			</foreach> -->
		</if>
		</where>
		order by jgid
	</select>
	
	
	
	<select id="selectChildjg" parameterType="map" resultType="com.linkstec.crm.system.dto.BaseJGDto">
		select jgid from L_ORGANIZATION_EXPAND l where l.super_id = #{superId}
	</select>
	<!-- 渠道分类查询 -->
	<select id="findjgInfoAll" parameterType="map"
		resultType="com.linkstec.crm.system.dto.BaseJGDto">
		select 
			'('||jgid||')'|| jg_name "jg_name",
			jgid,jg_type,jg_status 
		 from L_ORGANIZATION_EXPAND 
		 <where>
		 	<if test="jgType!=null">
		 		and jg_type = #{jgType} and jg_status = '1'
		 	</if>
		 	<if test="jgType==null">
		 		and jg_status = '1'
		 	</if>
		 </where>
	</select>
	<select id="findteamsuperid" parameterType="String" >
		select super_id from t_jydy_xx where jydy_id = #{jydyId}
	</select>
	<select id="findteammember" parameterType="map"
		resultType="com.linkstec.crm.system.dto.MEMBERDTO">
		select xm,ryid,jgid from t_ehr_jjr_jbxx 
		<where>
			<if test="superId == null or superId == 0">
			 jgid = (select super_id from t_jydy_xx where jydy_id = #{jydyId}) and YGZTID in (1,4)
			</if>
			<if test="superId!=null">
				and jgid = #{superId} and YGZTID in (1,4)
			</if>
			<if test="ryid!=null">
				and ryid = #{ryid}
			</if>
			<if test="xm!=null">
				and xm like '%'|| #{xm} ||'%'
			</if>
		</where>
		
	</select>
	<!-- 团队查询 -->
	<select id="findteamAll" parameterType="map"
		resultType="com.linkstec.crm.system.dto.TeamDto">
		select * from T_JYDY_XX 
		<where>
			<if test="superId==null">
			<if test="jgTypeP!=null">
				and jg_type = #{jgTypeP}
			</if>
			</if>
			<if test="superId!=null">
			and super_id in (select jgid from l_organization_expand m start with m.jgid= #{superId} connect by m.super_id=prior m.jgid)
<!-- 				and (ss_id = #{superId} -->
<!-- 				or super_id = #{superId} ) -->
			</if>
			<if test="jgType!=null">
				and jg_type = #{jgType}
			</if>
			<if test="jydyId!=null">
				and jydy_id = #{jydyId}
			</if>
			<if test="jydyName!=null">
				and jydy_name like '%'|| #{jydyName} ||'%'
			</if>
			<if test="fzrName!=null">
				and fzr_name = #{fzrName}
			</if>
			
		</where>
	</select>
	<!-- 渠道查询 -->
	<select id="findjgAll" parameterType="map"
		resultType="com.linkstec.crm.system.dto.JG100A01InDto">
		select * from L_ORGANIZATION_EXPAND /*LT*/ m
		<where>
			<if test="jgid==null">
			<if test="jgTypeP!=null">
				and jg_type = #{jgTypeP}
			</if>
			</if>
			
			<if test="jgid!=null">
			and jgid in (select jgid from l_organization_expand m start with m.jgid= #{jgid} connect by m.super_id=prior m.jgid)
			</if>
			<if test="jgName!=null">
				and (jg_name like '%'|| trim(' ' FROM #{jgName}) ||'%' or jgid like trim(' ' FROM #{jgName}))
			</if>
			<if test="jgType!=null">
				and jg_type = #{jgType}
			</if>
			<if test="jgStatus!=null">
				and jg_status = #{jgStatus}
			</if>
			<if test="insStatus!=null">
				and ins_status = #{insStatus}
			</if>
			<if test="jgCode!=null">
				and jg_code = trim(' ' FROM #{jgCode})
			</if>
			<if test="jgTypeSub != null">
				and jg_type_sub = #{jgTypeSub}
			</if>
			<if test="jgTypeSubQs != null">
				and jg_type_sub = #{jgTypeSubQs}
			</if>
			<if test="jgOnline != null">
				and to_number(to_char(jg_online,'yyyymmdd')) = to_number(to_char(#{jgOnline},'yyyymmdd'))
			</if>
		</where>
		order by jgid
	</select>
	<!-- 流水查询 -->
	<select id="jglsSelect" parameterType="com.linkstec.crm.system.dto.JG00LS00Dto" 
		resultType="com.linkstec.crm.system.dto.JG00LS00OutDto">
		select
			op_date "opDate",jg_code "jgCode",jg_name "jgName",op_type "opType",
			file_num "fileNum",contract_num "contractNum",devp_name "devpName",
			jg_type "jgType",fzr "fzr",jbr_name "jbrName",id "id" ,super_id "superId",super_name "superName",ins_id "insId",ins_status "insStatus"
		from 
		t_unit_ls
		<where>
			<if test="opType!=null">
				op_type = #{opType}
			</if>
			<if test="jgid!=null">
				and (jg_code like trim(' ' FROM #{jgid}) or jg_name like '%'|| trim(' ' FROM #{jgid})||'%')                                               
			</if>
			<if test="beginDate!=null">
				and to_number(to_char(op_date,'yyyyMMdd')) &gt;=(to_number(to_char(#{beginDate},'yyyyMMdd')))
			</if>
			<if test="endDate!=null">
				and to_number(to_char(op_date,'yyyyMMdd')) &lt;=(to_number(to_char(#{endDate},'yyyyMMdd')))
			</if>
			<if test="flag != null">
				and jg_code = (select u.jg_code from crm.t_unit_ls u where u.jg_code = #{code} 
				and u.rec_gen_time = (select max(u.rec_gen_time) from crm.t_unit_ls u where u.jg_code = #{code}))
				and  rec_gen_time = (select max(u.rec_gen_time) from crm.t_unit_ls u where u.jg_code = #{code})
			</if>
		</where>
		order by op_date desc
	</select>
	<select id="findjgFile" parameterType="map" resultType="map">
		select
		xy_Doc,jbr_Copy,frdbwts,yyzz_Copy
		from
		L_ORGANIZATION_EXPAND
		where
		jg_code = trim(' ' FROM #{jgCode})
	</select>
	<select id="selectSuperJG" parameterType="map"
		resultType="com.linkstec.crm.system.dto.BaseJGDto">
		select * from L_ORGANIZATION_EXPAND where ins_status = '3' and jg_status = '1'
		<if test="superId!=null">
			and jgid = #{superId}
		</if>
		<if test="jgName!=null">
			and jg_name like '%'|| trim(' ' FROM #{jgName}) ||'%'
		</if>
		<if test="jgCode!=null">
			and jg_code = trim(' ' FROM #{jgCode})
		</if>
		<if test="jgType!=null">
			and jg_type = #{jgType}
		</if>
	</select>

	<update id="updateJGforOff" parameterType="map">
		update
		L_ORGANIZATION_EXPAND set jg_Status =
		#{jgStatus},jg_Offline=#{jgOffline},bz=#{bz} where jgid = #{jgid}
	</update>

	<!-- 查询渠道下所有团队 -->
	<select id="getJGcode" resultType="com.linkstec.crm.system.dto.BaseJGDto"
		parameterType="String">
		select
		jgid "jgid",
		jg_name "jgName",
		super_id "ssId",
		jg_type "jgType"
		from
		L_ORGANIZATION_EXPAND
		where
		jgid = #{superId}
<!-- 		jgid in (select jgid from l_organization_expand m start with m.jgid= #{superId} connect by m.super_id=prior m.jgid) -->
	</select>
	<!-- <select id="getJGteam" parameterType="String" resultType="com.linkstec.crm.system.dto.EMP0701OutDto"> 
		select * from T_JYDY_XX where superId = #{} </select> -->

	<select id="selectJYDYInfoById" resultType="com.linkstec.crm.employee.po.TJydyXx"
		parameterType="com.linkstec.crm.employee.dto.EMP0701InDto">
		select * from T_JYDY_XX where 1=1
		<if test="jydyId!=null">
			AND JYDY_ID =#{jydyId}
		</if>
	</select>
	<!-- 查询产品信息 -->
	<select id="selectProductInfo" parameterType="map"
		resultType="com.linkstec.crm.system.dto.JG100A01OutDto">
		select p.*,to_char(round(p.confirm_Income*100,2),'990.99')||'%'
		"confirmIncomePer" ,
		t.product_type_name from jhdc.productProperty p LEFT
		JOIN
		jhdc.productTypeConfig t ON p.product_type = t.product_type
		<where>
			<if test="fundCompany!=null">
				and p.fund_company like #{fundCompany}
			</if>
			<if test="codesimpleName!=null">
				and p.codesimple_name like '%'||trim(' ' FROM #{codesimpleName})||'%'
			</if>
			<if test="productType!=null">
				and p.product_type = #{productType}
			</if>
			<if test="productCode">
				and p.product_code = trim(' ' FROM #{productCode})
			</if>
		</where>
	</select>

	<select id="selectProductName" parameterType="map"
		resultType="com.linkstec.crm.system.dto.JG100A01OutDto">
		select
		p.fund_company,p.product_code,p.product_type,
<!-- 		p.codesimple_name,p.product_name, -->
		to_char(round(p.confirm_Income*100,2),'990.99')||'%'
		"confirmIncomePer" ,
		'('||p.product_code||')'|| p.product_name "productName",
		t.product_type_name from jhdc.productProperty p
		JOIN
		jhdc.productTypeConfig t ON p.product_type = t.product_type
		<where>
			<if test="fundCompany!=null">
				and p.fund_company like #{fundCompany}
			</if>
			<if test="productType!=null">
				and p.product_type = #{productType}
			</if>
			<if test="productCode!=null">
				and p.product_code like '%'||trim(' ' FROM #{productCode})||'%' or p.product_name like '%'||trim(' ' FROM #{productCode})||'%'
			</if>
		</where>
		order by p.product_type
	</select>
	<select id="selectProductbyCode" parameterType="map"
		resultType="com.linkstec.crm.system.dto.JG100A01OutDto">
		select
		t.product_type_name,p.product_name,p.codesimple_name,p.product_code,p.fund_company,p.product_type
		from jhdc.productProperty p LEFT
		JOIN
		jhdc.productTypeConfig t ON p.product_type =
		t.product_type
		<where>
			<if test="fundCompany!=null">
				and p.fund_company like #{fundCompany}
			</if>
			<if test="productType!=null">
				and p.product_type = trim(' ' FROM #{productType})
			</if>
			<if test="productCode!=null">
<!-- 				and p.product_code = #{productCode} -->
				and instr(trim(' ' FROM #{productCode}),p.product_code ) > 0
			</if>
			<if test="productTypeName">
				and t.product_type_name = trim(' ' FROM #{productTypeName})
			</if>
		</where>
	</select>
	<select id="selectTaskList" parameterType="com.linkstec.crm.system.dto.TASKDto"
		resultType="com.linkstec.crm.system.dto.TASKDto">
		select
		task_num "taskNum",task_code "taskCode",task_type
		"taskType",task_year
		"taskyear",task_cycle "taskCycle",fund_company
		"fundCompany",
		task_unit "taskUnit",
		decode(t.task_type,'2',to_char(t.task_complete,'9999999999999999999.99'),to_char(t.task_complete,'999999999999999')) 
		"taskComplete",product_type
		"productType",product_code "productCode",
		product_name "productName",product_type_name
		"productTypeName",
		comp_rate "compRate",
<!-- 		decode(t.task_type,'2',to_number(to_char(case when t.task_quantity = 0.00 then 0 else round((t.task_complete/t.task_quantity) * 0.01,3) end ,'fm999990.00')), -->
<!-- 		to_number(to_char(case when t.task_quantity = 0.00 then 0 else round((t.task_complete/t.task_quantity) * 100,3) end ,'fm999990.00'))) "compRate", -->
		jgid "jgid",
		jg_type "jgType",jg_name
		"jgName",task_begindate "taskBegindate",task_enddate
		"taskEnddate",task_name "taskName",
		decode(t.task_type,'2',to_char(t.task_quantity,'9999999999999999999.99'),to_char(t.task_quantity,'999999999999999'))
		"taskQuantity"
		from
		T_TASK /*LT*/ t
		<where>
			<if test="jgType!=null">
				and t.jg_type = #{jgType}
			</if>
			<if test="jgid!=null">
				and  jgid in
				<foreach collection="jgid" open="(" separator="," close=")" item="item">
					#{item}
				</foreach>
			</if>
<!-- 			<if test="jgid!=null"> -->
<!-- 			and jgid in (select jgid from l_organization_expand m start with m.jgid= #{jgid} connect by m.super_id=prior m.jgid) -->
<!-- 			</if> -->
			<if test="taskType!=null">
				and t.task_type = #{taskType}
			</if>
			<if test="taskUnit != null">
				and t.task_unit = #{taskUnit}
			</if>
			<if test="taskyear!=null">
				and t.task_year = #{taskyear}
			</if>
			<if test="taskCycle!=null">
				<!-- 这里将数据字典转化为字符串方可查询 -->
				and t.task_cycle like '%'||#{taskCycle}
			</if>
			<if test="fundCompany!=null">
				and t.fund_company = #{fundCompany}
			</if>
			<if test="ptypes!=null">
				and t.product_type in
				<foreach collection="ptypes" open="(" separator="," close=")"
					item="item">
					#{item}
				</foreach>
			</if>
			<if test="productName!=null">
<!-- 				and t.product_name = #{productName} -->
				and t.product_name like '%'||trim(' ' FROM #{productName})||'%' or t.product_code like '%'||trim(' ' FROM #{productName})||'%'
			</if>
		</where>
		order by t.jg_name
	</select>
	<!-- 审核开始 -->
	<update id="UjgAdd01Ins" parameterType="map">
		UPDATE
		L_ORGANIZATION_EXPAND
		SET
		ins_id=#{insId},ins_begin_time=#{insBeginTime},ins_status=#{insStatus},super_id=#{superId},super_name=#{superName},REC_UPD_TIME =SYSDATE
		where jgid=#{jgid}
	</update>
	<update id="UjgAdd001Ins" parameterType="map">
		UPDATE
		L_ORGANIZATION_EXPAND
		SET
		ins_id=#{insId},ins_begin_time=#{insBeginTime},ins_status=#{insStatus},super_id=#{superId},super_name=#{superName},REC_UPD_TIME =SYSDATE,jg_offline = #{jgOffline}
		where jgid=#{jgid}
	</update>
	<update id="UjgAdd0001Ins" parameterType="map">
		UPDATE
		L_ORGANIZATION_EXPAND
		SET
		ins_id=#{insId},ins_begin_time=#{insBeginTime},ins_status=#{insStatus},super_id=#{superId},super_name=#{superName},bz=#{bz},REC_UPD_TIME =SYSDATE
		where jgid=#{jgid}
	</update>
	<update id="UjgAdd00001Ins" parameterType="map">
		UPDATE
		L_ORGANIZATION_EXPAND
		SET
		ins_id=#{insId},ins_begin_time=#{insBeginTime},ins_status=#{insStatus},jg_online=#{jgOnline},jg_offline=#{jgOffline},REC_UPD_TIME =SYSDATE
		where jgid=#{jgid}
	</update>
	<!-- 审核结束 未通过 -->
	<update id="UjgAdd02Ins" parameterType="map">
		UPDATE
		L_ORGANIZATION_EXPAND
		SET ins_finish_time = SYSDATE,ins_status =
		#{insStatus},jg_status =
		#{jgStatus},REC_UPD_TIME =SYSDATE
		where jgid = #{jgid}
	</update>
	<!-- 审核通过 -->
	<update id="UjgAdd03Ins" parameterType="map">
		update
		L_ORGANIZATION_EXPAND set jg_status = #{jgStatus},ins_status =
		#{insStatus},REC_UPD_TIME =SYSDATE,ins_finish_time = SYSDATE where
		jgid = #{jgid}
	</update>
	<update id="UjgAdd003Ins" parameterType="map">
		update
		L_ORGANIZATION_EXPAND set jg_status = #{jgStatus},ins_status =
		#{insStatus},REC_UPD_TIME =SYSDATE ,jg_offline = #{jgOfftime}where
		jgid = #{jgid}
	</update>
	<update id="UjgAdd0003Ins" parameterType="map">
		update
		L_ORGANIZATION_EXPAND set jg_status = #{jgStatus},ins_status =
		#{insStatus},REC_UPD_TIME =SYSDATE,ins_finish_time = SYSDATE,jg_offline = #{jgOfftime},jg_online=#{jgOntime}
		where
		jgid = #{jgid}
	</update>
	<!-- 渠道上线 -->
	<update id="Ulorg01Ins" parameterType="map">
		update L_ORGANIZATION set
		delete_flag = 2,REC_UPD_TIME =SYSDATE where org_id = #{jgid}
	</update>
	<!-- 注销成功 -->
	<update id="Djg01Ins" parameterType="map">
		update L_ORGANIZATION set
		delete_flag = 1,REC_UPD_TIME =SYSDATE where org_id = #{jgid}
	</update>
	<!-- 未成功上线 -->
	<update id="Ujg02Ins" parameterType="map">
		update L_ORGANIZATION set
		delete_flag = 0,REC_UPD_TIME =SYSDATE where org_id = #{jgid}
	</update>
	<!-- 团队审核流程 -->
	<update id="TAdd01Ins" parameterType="map">
		update T_JYDY_XX set
		ins_status = #{insStatus},REC_UPD_TIME =SYSDATE,ins_finish_time =
		SYSDATE where jydy_id = #{jydyId}
	</update>

	<update id="TAdd02Ins" parameterType="map">
		update T_JYDY_XX set
		ins_status = #{insStatus},ins_id = #{insId},REC_UPD_TIME =SYSDATE,ins_finish_time =
		SYSDATE where jydy_id = #{jydyId}
	</update>
	
	<update id="TAdd03Ins" parameterType="map">
		update T_JYDY_XX set
		ins_status = #{insStatus},ins_id = #{insId},REC_UPD_TIME =SYSDATE,ins_finish_time =
		SYSDATE where jydy_id = #{jydyId}
	</update>
	<!-- 渠道调整 -->
	<!-- 通过 -->
	<update id="Ulorg02Ins" parameterType="map">
		update L_ORGANIZATION set
		delete_flag = 2,REC_UPD_TIME =SYSDATE,super_id = #{superId},org_type = #{orgType} where org_id = #{jgid}
	</update>
	<update id="Ujg03Ins" parameterType="map">
		update
			L_ORGANIZATION_EXPAND set jg_status = #{jgStatus},ins_status =
			#{insStatus},REC_UPD_TIME =SYSDATE,ins_finish_time = SYSDATE,super_id =#{superId}
			,super_name =#{superName},jg_type = #{jgType} 
		where
			jgid = #{jgid}
	</update>
	<!-- 	审核不通过，更新流程信息 -->
	<update id="Ujg04Ins" parameterType="map">
		update
			L_ORGANIZATION_EXPAND set ins_status =
			#{insStatus},REC_UPD_TIME =SYSDATE,ins_finish_time = SYSDATE 
		where
			jgid = #{jgid}
	</update>
	<update id="Ujg004Ins" parameterType="map">
		update
			L_ORGANIZATION_EXPAND set ins_status =
			#{insStatus},REC_UPD_TIME =SYSDATE,ins_finish_time = SYSDATE ,super_id=#{superId},super_name=#{superName}
		where
			jgid = #{jgid}
	</update>
	<!-- 未通过 -->
	<update id="Ulorg03Ins" parameterType="map">
		update L_ORGANIZATION set
		delete_flag = 2,REC_UPD_TIME =SYSDATE where org_id = #{jgid}
	</update>
</mapper>