<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkstec.smsc.limit.M3002Mapper">
	<!-- 获取限制信息一览 -->
	<select id="selectRestrictInfos" resultType="com.linkstec.smsc.limit.M300103Dto"
		parameterType="map">
		SELECT
		XZDXLB,
		XZDXID,
		B_TYID.xm as XZDX_NAME,B_TYID.bmbh,B_TYID.bmmc
		,
		MYXZTS,
		XZQSNY,
		nvl(YYFTS,0) YYFTS
		FROM
		T_XXFW_FSXZ a
			inner join (select x.RYID RYID,x.XM,x.JGID　BMBH,v.JGMC BMMC from T_EHR_JJR_JBXX /*LT*/ x , T_JG
			 v where
			x.JGID = v.JGID and v.JLZT = '1'
			<if test="xm != null and xm != ''">
				and x.XM LIKE #{xm}||'%'
			</if>
			<if test="jgid!= null and jgid != ''">
				and x.JGID = #{jgid}
			</if>
			<if test="notesId!= null and notesId != ''">
				and x.RYID = #{notesId}
			</if>
			) B_TYID on a.XZDXID=B_TYID.RYID

		WHERE
		1 = 1
		<if test="xzdxlb!=null">
			and XZDXLB=#{xzdxlb}
		</if>
		<if test="month !=null and month !=''">
			and XZQSNY = #{month}
		</if>
        <if test="month == null">
        	and xzqsny = substr(to_char(sysdate,'yyyyMMdd'),1,6)
        </if>
		<if test="xzdxlb==2 and jgid!= null and jgid != ''">
			and xzdxid = #{jgid}
		</if>
		
		order by xzdxid 
	</select>
	<!-- 增加短信限制 -->
	<insert id="insertSelective" parameterType="map">
		insert into T_XXFW_FSXZ
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="xzdxlb != null">XZDXLB,</if>
			<if test="xzdxid != null">XZDXID,</if>
			<if test="fbmt != null">FBMT,</if>
			<if test="mnxzts != null">MNXZTS,</if>
			<if test="myxzts != null">MYXZTS,</if>
			<if test="mrxzts != null">MRXZTS,</if>
			<if test="xzqsn != null">XZQSN,</if>
			<if test="nyfts != null">NYFTS,</if>
			<if test="xzqsny != null">XZQSNY,</if>
			<if test="yyfts != null">YYFTS,</if>
			<if test="xzqsnyr != null">XZQSNYR,</if>
			<if test="ryfts != null">RYFTS,</if>
			<if test="czyid != null">CZYID,</if>
			<if test="sjc != null">SJC,</if>
			<if test="recGenTime != null">REC_GEN_TIME,</if>
			<if test="recUpdTime != null">REC_UPD_TIME,</if>
			<if test="recUpdMoudle != null">REC_UPD_MOUDLE,</if>
			<if test="recUpdUser != null">REC_UPD_USER,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="xzdxlb != null">#{xzdxlb,jdbcType=CHAR},</if>
			<if test="xzdxid != null">#{xzdxid,jdbcType=BIGINT},</if>
			<if test="fbmt != null">#{fbmt,jdbcType=CHAR},</if>
			<if test="mnxzts != null">#{mnxzts,jdbcType=INTEGER},</if>
			<if test="myxzts != null">#{myxzts,jdbcType=INTEGER},</if>
			<if test="mrxzts != null">#{mrxzts,jdbcType=INTEGER},</if>
			<if test="xzqsn != null">#{xzqsn,jdbcType=INTEGER},</if>
			<if test="nyfts != null">#{nyfts,jdbcType=INTEGER},</if>
			<if test="xzqsny != null">#{xzqsny,jdbcType=INTEGER},</if>
			<if test="yyfts != null">#{yyfts,jdbcType=INTEGER},</if>
			<if test="xzqsnyr != null">#{xzqsnyr,jdbcType=INTEGER},</if>
			<if test="ryfts != null">#{ryfts,jdbcType=INTEGER},</if>
			<if test="czyid != null">#{czyid,jdbcType=BIGINT},</if>
			<if test="sjc != null">#{sjc,jdbcType=DATE},</if>
			<if test="recGenTime != null">#{recGenTime,jdbcType=TIMESTAMP},</if>
			<if test="recUpdTime != null">#{recUpdTime,jdbcType=TIMESTAMP},</if>
			<if test="recUpdMoudle != null">#{recUpdMoudle,jdbcType=VARCHAR},</if>
			<if test="recUpdUser != null">#{recUpdUser,jdbcType=BIGINT},</if>
		</trim>
	</insert>
	<!--获取某个限制类别的限制对象的个数 -->
	<select id="selectXzdxCount" resultType="Long" parameterType="map">
		select count(*) from T_XXFW_FSXZ where XZDXLB = #{xzdxlb} and XZDXID =
		#{xzdxid} and xzqsny =#{xzqsny}
	</select>
	<!-- 更新某个限制对象 -->
	<update id="updateXzdx" parameterType="map">
		update T_XXFW_FSXZ
		<set>
			<if test="myxzts != null">MYXZTS=#{myxzts,jdbcType=INTEGER} </if>
		</set>
		where XZDXLB = #{xzdxlb} and XZDXID = #{xzdxid} and xzqsny= #{xzqsny}
	</update>

	<!-- 根据限制对象获取每年限制条数、 每月限制条数、每日限制条数、 -->
	<select id="selectByXzdx" parameterType="Long"
		resultType="com.linkstec.smsc.limit.M300108Dto">
		SELECT MNXZTS,MYXZTS,MRXZTS FROM T_XXFW_FSXZ
		WHERE XZDXLB =
		#{xzdxlb} and XZDXID = #{xzdxid}
	</select>
	
	<select id="selectByRyid" parameterType="Long"
		resultType="com.linkstec.crm.employee.po.TEhrJjrJbxx">
		select * from
		T_EHR_JJR_JBXX
		where ryid = #{ryid}
	</select>
</mapper>
