<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkstec.phoneapp.mapper.ProductTradeMapper">
    <select id="selectPtCode" parameterType="map" resultType="com.linkstec.crm.system.dto.JG100A01OutDto">
		select p.product_type
	    from jhdc.productproperty p
	    right join (select p.fund_company, p.product_type
                 from jhdc.producttypeconfig p
                where p.up_product_type in ('so')
                and p.fund_company = #{fundCompany}
                ) pc
      	on p.product_type = pc.product_type
     	and p.fund_company = pc.fund_company
	    where p.product_code = #{productCode}
	</select>
	
    
    <select id="selectTradeInfoNew" parameterType="map"
		resultType="com.linkstec.phoneapp.dto.ProductTradeInfDto">
		SELECT t.branch_no,
               t.client_id,
               t.client_name,
               t.client_type,
               t.deal_Balance,
               t.op_entrust_way,
               t.pay_type,
               crm.fn_get_dictvalue('CP_trade_type',t.trade_type),
               t.bank_no         "bankNo",
               t.bank_name       "bankName",
               t.bank_Account    "bankAccount",
               t.curr_date,
               t.curr_time,
               t.BS_FLAG,
               crm.fn_get_dictvalue('CP_business_flag',t.opbusiness_flag)  tradeType,    
               org.JG_NAME
          from JHDC.HISFULLTRADEINFOJOUR t
          INNER JOIN L_ORGANIZATION_EXPAND /*LT*/ org
            ON t.branch_no = org.JG_CODE
          LEFT JOIN jhdc.productProperty p
            on p.fund_company = t.fund_company
           and p.product_code = t.product_code
         where t.fund_company = #{fundCompany}
           and p.relate_code = #{productCode}
           and t.entrust_status in('5','7','8','2')
           and t.client_id in (
           SELECT T_KH_XX.KHID "khid"
           FROM T_KH_XX  T_KH_XX inner join T_GXGL_GXMX b on (T_KH_XX.KHID = b.KHID AND b.RYID = #{memberId})
           )
           
		<if test="branchNo!=null">
			and t.branch_no IN
			<foreach collection="branchNo" open="(" separator="," close=")"
				item="item">
				#{item}
			</foreach>
		</if>
	
		<if test="currDateBegin!=null">
			AND t.curr_date &gt;=
			to_number(#{currDateBegin})
		</if>
		<if test="currDateEnd!=null">
			AND t.curr_date &lt;=
			to_number(#{currDateEnd})
		</if>
		ORDER BY t.curr_date desc,t.curr_time desc
	</select>
	
    
    
	<!-- 查询交易信息 -->
	<select id="selectTradeInfo" parameterType="map"
		resultType="com.linkstec.phoneapp.dto.ProductTradeInfDto">
		SELECT *
  		FROM (SELECT t.branch_no,
               t.client_id,
               t.client_name,
               t.client_type,
               t.deal_Balance,
               t.op_entrust_way,
               t.pay_type,
              crm.fn_get_dictvalue('CP_trade_type',t.trade_type),
               t.bank_no         "bankNo",
               t.bank_name       "bankName",
               t.bank_Account    "bankAccount",
               t.curr_date,
               t.curr_time,
               t.BS_FLAG,
               crm.fn_get_dictvalue('CP_business_flag',t.opbusiness_flag)  tradeType,
               org.JG_NAME
          from JHDC.HISTRADEINFOJOUR t
          INNER JOIN L_ORGANIZATION_EXPAND /*LT*/ org
            ON t.branch_no = org.JG_CODE
          LEFT JOIN jhdc.productProperty p
            on p.fund_company = t.fund_company
           and p.product_code = t.product_code
         where t.fund_company = #{fundCompany}
           and p.relate_code = #{productCode}
           and t.client_id in (
           SELECT T_KH_XX.KHID "khid"
           FROM T_KH_XX  T_KH_XX inner join T_GXGL_GXMX b on (T_KH_XX.KHID = b.KHID AND b.RYID = #{memberId})
           )
        
		<if test="currDateBegin!=null">
			AND t.curr_date &gt;=
			to_number(#{currDateBegin})
		</if>
		<if test="currDateEnd!=null">
			AND t.curr_date &lt;=
			to_number(#{currDateEnd})
		</if>
      <!--该表中仅兑付有效，线下数据已汇入tradeinforjour -->
        UNION ALL
        select * from(
        SELECT T.branch_no,
               T.client_id,
               T.client_name,
               T.client_type,
               T.deal_Balance,
               T.op_entrust_way,
               T.pay_type,
               crm.fn_get_dictvalue('CP_trade_type',t.trade_type) ,
               T.bank_no         "bankNo",
               T.bank_name       "bankName",
               T.bank_Account    "bankAccount",
               T.curr_date,
               T.curr_time,
               T.BS_FLAG,
               crm.fn_get_dictvalue('CP_business_flag',t.opbusiness_flag)  tradeType,
               org.JG_NAME
          FROM JHDC.HISNEN_TRADEINFOJOUR T
          INNER JOIN L_ORGANIZATION_EXPAND /*LT*/ org
            ON T.branch_no = org.JG_CODE
          LEFT JOIN jhdc.productProperty P
            ON P.fund_company = T.fund_company
           AND P.product_code = T.product_code
         where t.fund_company = #{fundCompany}
           and p.relate_code = #{productCode}
           and T.client_id in (
           SELECT T_KH_XX.KHID "khid"
           FROM T_KH_XX  T_KH_XX inner join T_GXGL_GXMX b on (T_KH_XX.KHID = b.KHID AND b.RYID = #{memberId})
           )
          
		<if test="currDateBegin!=null">
			AND t.curr_date &gt;=
			to_number(#{currDateBegin})
		</if>
		<if test="currDateEnd!=null">
			AND t.curr_date &lt;=
			to_number(#{currDateEnd})
		</if>
           and t.opbusiness_flag in(143,150,227,8031,8032,8020))  
           ) t
		ORDER BY t.curr_date desc,t.curr_time desc
	</select>
	
	
	<!-- 查询交易信息统计信息新人宝 -->
	<select id="selectTradeInfoNewCount" parameterType="map"
		resultType="map">
		SELECT COUNT(distinct t.Client_Id) "clientNum",
        nvl(SUM(t.deal_Balance),0) "moneySum"
      FROM (SELECT deal_Balance,
               opbusiness_flag,
               branch_no,
               client_Id,
               client_type,
               op_entrust_way,
               trade_Type,
               curr_date,
               curr_time,
               pay_type,
               client_name,
               BS_FLAG
          FROM JHDC.HISFULLTRADEINFOJOUR T
          INNER JOIN L_ORGANIZATION_EXPAND /*LT*/ l
          on l.jgid = T.branch_no
          LEFT JOIN jhdc.productProperty p
            on p.fund_company = t.fund_company
           and p.product_code = t.product_code
         where t.fund_company = #{fundCompany}
           and p.relate_code = #{productCode}
           and client_id in (
           SELECT T_KH_XX.KHID "khid"
           FROM T_KH_XX  T_KH_XX inner join T_GXGL_GXMX b on (T_KH_XX.KHID = b.KHID AND b.RYID = #{memberId})
           )
           and t.entrust_status in ('5', '7', '8','2') )t
        <where>

		<if test="currDateBegin!=null">
			AND t.curr_date &gt;=
			to_number(#{currDateBegin})
		</if>
		<if test="currDateEnd!=null">
			AND t.curr_date &lt;=
			to_number(#{currDateEnd})
		</if>
		
		</where>
	</select>
	<!-- 查询交易信息统计信息 -->
	<select id="selectTradeInfoCount" parameterType="map"
		resultType="map">
		SELECT COUNT(distinct t.Client_Id) "clientNum",
        nvl(SUM(t.deal_Balance),0) "moneySum"
      FROM (SELECT deal_Balance,
               opbusiness_flag,
               branch_no,
               client_Id,
               client_type,
               op_entrust_way,
               trade_Type,
               curr_date,
               curr_time,
               pay_type,
               client_name,
               BS_FLAG
          FROM JHDC.HISTRADEINFOJOUR T
          INNER JOIN L_ORGANIZATION_EXPAND /*LT*/ l
          on l.jgid = T.branch_no
          LEFT JOIN jhdc.productProperty p
            on p.fund_company = t.fund_company
           and p.product_code = t.product_code
         where t.fund_company = #{fundCompany}
           and p.relate_code = #{productCode}
           and client_id in (
           SELECT T_KH_XX.KHID "khid"
           FROM T_KH_XX  T_KH_XX inner join T_GXGL_GXMX b on (T_KH_XX.KHID = b.KHID AND b.RYID = #{memberId})
           )
      <!--  --> UNION ALL
        select * from (
        SELECT deal_Balance,
               opbusiness_flag,
               branch_no,
               client_Id,
               client_type,
               op_entrust_way,
               trade_Type,
               curr_date,
               curr_time,
               pay_type,
               client_name,
               BS_FLAG
          FROM JHDC.HISNEN_TRADEINFOJOUR T 
          INNER JOIN L_ORGANIZATION_EXPAND /*LT*/ l
          on l.jgid = T.branch_no 
          LEFT JOIN jhdc.productProperty p
            on p.fund_company = t.fund_company
           and p.product_code = t.product_code
         where t.fund_company = #{fundCompany}
           and p.relate_code = #{productCode}
           and t.opbusiness_flag in(143,150,227,8031,8032,8020)
            and t.client_id in (
           SELECT T_KH_XX.KHID "khid"
           FROM T_KH_XX  T_KH_XX inner join T_GXGL_GXMX b on (T_KH_XX.KHID = b.KHID AND b.RYID = #{memberId})
           )
           )) t
		<where>
		<if test="currDateBegin!=null">
			AND t.curr_date &gt;=
			to_number(#{currDateBegin})
		</if>
		<if test="currDateEnd!=null">
			AND t.curr_date &lt;=
			to_number(#{currDateEnd})
		</if>
		</where>
	</select>
</mapper>




