<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linkstec.smsc.mapper.SM6001Mapper">
	
	<select id="getDXFSXXForBG" parameterType="map" resultType="com.linkstec.smsc.po.TXxfwFsdxYybtj">
		select NY,YYBH,YYBMC,HDFSL,(HDFSL-FSFSL) as FSFSL,FSCGSL,FSSBSL,SJFSTS,
				KHJLSL,KHJLFY,TZGWSL,TZGWTS,DXGLYSL,DXGLYFY
		from T_XXFW_FSDX_YYBTJ AA, L_ORGANIZATION /*LT*/ B
		where 1=1
		AND AA.YYBH = B.ORG_ID
		<if test="startTime !=null">
		<![CDATA[
			AND NY >= #{startTime}
			]]> 
		</if>
		<if test="endTime !=null">
		<![CDATA[
			AND NY <= #{endTime}
			]]> 
		</if>
		<if test="yybh !=null and yybh.size()>0">
			AND YYBH in
			<foreach collection="yybh" open="(" separator="," close=")" item="orgid">
			#{orgid}
			</foreach>
		</if>
	</select>
	
	<select id="getDXFSXXForBB" parameterType="map" resultType="com.linkstec.smsc.po.TXxfwFsdxYybtj">
		select 
			sum(SJFSTS) as SJFSTS,
			sum(TZGWTS) as TZGWTS,
			sum(KHJLFY) as KHJLFY,
			sum(DXGLYFY) as DXGLYFY,
			YYBH,YYBMC 
		from T_XXFW_FSDX_YYBTJ AA, L_ORGANIZATION /*LT*/ B
		where 1=1
		AND AA.YYBH = B.ORG_ID
		<if test="startTime !=null">
		<![CDATA[
			AND NY >= #{startTime}
			]]> 
		</if>
		<if test="endTime !=null">
		<![CDATA[
			AND NY <= #{endTime}
			]]> 
		</if>
		<if test="yybh !=null and yybh.size()>0">
			AND YYBH in
			<foreach collection="yybh" open="(" separator="," close=")" item="orgid">
				#{orgid}
			</foreach>
		</if>
		group by YYBH,YYBMC
	</select>
	<!-- 根据角色ID获取人员 -->
	<select id="getMemberidByRoleId" resultType="java.lang.String" parameterType="map">
		SELECT
			A .MEMBER_ID memberid
		FROM
			L_MEMBER_ROLE_REL A,
			L_MEMBER_ORGANIZATION_REL B
		WHERE
			A .MEMBER_ID = b.MEMBER_ID
		AND B.ORG_ID = #{jgid}
		AND A.ROLE_ID = #{roleid}
	</select>
</mapper>