<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkstec.crm.system.mapper.T3001Mapper">
	<!-- 根据员工代码、员工姓名、所属团队、入职日期查询人员 -->
	<select id="QueryCustomerManagerByParam" resultType="com.linkstec.crm.system.dto.T300101Dto"
		parameterType="map">
		select RYID,NOTES_ID,XM,JG,BMMC,XB,NL,SJ,BGDH,RZRQ,ZYZG,b.JGMC,d.ORG_NAME ORGNAME
		from
		T_EHR_JJR_JBXX /*LT*/ a
		LEFT JOIN T_JG b on a.JGID = b.JGID,
		L_MEMBER_ORGANIZATION_REL c,
        L_ORGANIZATION d,
		L_MEMBER m
		where a.RYID = m.MEMBER_NUM
		AND c.MEMBER_ID = m.MEMBER_ID
		AND c.ORG_ID = d.ORG_ID
		AND a.ygztid= 0
		<if test="orgId != null and orgId != ''">
			AND d.ORG_ID = #{orgId,jdbcType=BIGINT}
		</if>
		<if test="jgid!=null and jgid!=''">
			AND a.JGID = #{jgid}
		</if>
		<if test="orgId != null and orgId != ''">
			and
			RYID in (
			select
			b.MEMBER_NUM from
			L_MEMBER_ORGANIZATION_REL a,L_MEMBER b
			where a.MEMBER_ID=b.MEMBER_ID
			and org_id =
			#{orgId,jdbcType=BIGINT}
			)
		</if>
		<if test="notesId != null and notesId != ''">
			and
			NOTES_ID like
			#{notesId}+'%'
		</if>
		<if test="xm != null and xm != ''">
			and XM
			like
			#{xm}+'%'
		</if>
		<if test="rzrq1 != null">
			<![CDATA[   		
				and RZRQ >= #{rzrq1,jdbcType=DATE}
			]]>
		</if>
		<if test="rzrq2 !=null">
			<![CDATA[   		
				and RZRQ <= #{rzrq2,jdbcType=DATE}
			]]>
		</if>
	</select>

	<select id="selectByRyid" parameterType="Long"
		resultType="java.lang.String">
		select member_name from l_member where member_id = #{ryid}
	</select>
	
</mapper>