<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkstec.smsc.mapper.TInfoMsgTmpltMapper">
	<resultMap id="BaseResultMap" type="com.linkstec.smsc.po.TInfoMsgTmplt">
		<id column="INFO_MSG_TMPLT_ID" jdbcType="DECIMAL" property="infoMsgTmpltId" />
		<result column="INFO_TMPLT_NAME" jdbcType="VARCHAR" property="infoTmpltName" />
		<result column="BUSINESS_NO" jdbcType="VARCHAR" property="businessNo" />
		<result column="BRANCH_ID" jdbcType="DECIMAL" property="branchId" />
		<result column="POLICY_ID" jdbcType="DECIMAL" property="policyId" />
		<result column="POLICY_SEQ" jdbcType="DECIMAL" property="policySeq" />
		<result column="INFO_CONTENTS" jdbcType="VARCHAR" property="infoContents" />
		<result column="DEL_FLG" jdbcType="CHAR" property="delFlg" />
		<result column="TMPLT_TYPE" jdbcType="CHAR" property="tmpltType" />
		<result column="GEN_MODULE_ID" jdbcType="VARCHAR" property="genModuleId" />
		<result column="GEN_USER_ID" jdbcType="DECIMAL" property="genUserId" />
		<result column="UPD_MODULE_ID" jdbcType="VARCHAR" property="updModuleId" />
		<result column="UPD_USER_ID" jdbcType="DECIMAL" property="updUserId" />
		<result column="REC_GEN_TIME" jdbcType="TIMESTAMP" property="recGenTime" />
		<result column="REC_UPD_TIME" jdbcType="TIMESTAMP" property="recUpdTime" />
	</resultMap>
	<sql id="Base_Column_List_1">
		STRATEGY_ID,
		STRATEGY_SEQ,
		STRATEGY_NAME,
		STRATEGY_TYPE,
		STRATEGY_DESC,
		RULE_CATEGORY,
		REC_GEN_TIME,
		GEN_USER_ID,
		REC_UPD_TIME,
		UPD_USER_ID
	</sql>
	
	<select id="selectMsgTmpltByBranchIdXB" resultType="com.linkstec.smsc.dto.InfoMsgTmpltDto"
		parameterType="map">
		select * from (
		select s.* ,T2.STRATEGY_NAME AS POLICY_NAME,
		m.MEMBER_NAME EMP_NAME
		from (
		SELECT du_T1.BRANCH_ID,
		T3.BRANCH_NAME,
		du_T1.POLICY_ID,
		du_T1.INFO_MSG_TMPLT_ID,
		du_T1.INFO_TMPLT_NAME,
		du_T1.BUSINESS_NO,
		du_T1.POLICY_SEQ,
		du_T1.INFO_CONTENTS,
		du_t1.TMPLT_RANGE,
		du_t1.TMPLT_TYPE,
		du_t1.SHZT,
		du_t1.REMARK,
		du_t1.INSID,
		DU_T1.GEN_USER_ID,
		du_t1.SYFW,
		du_T1.fs_num,
		du_t1.REC_GEN_TIME,du_T1.start_time,du_t1.end_time
		FROM
		T_INFO_MSG_TMPLT du_T1
		left join VIEW_T_BRANCH_MASTER T3 on
		du_T1.BRANCH_ID = T3.BRANCH_ID
		ORDER BY
		du_t1.TMPLT_RANGE,du_T1.BRANCH_ID
		)s
		LEFT JOIN L_MEMBER m on
		s.GEN_USER_ID = m.MEMBER_ID
		LEFT JOIN E_STRATEGY T2 ON S.POLICY_ID =
		T2.STRATEGY_ID where 1=1
		<if test="shzt != '' and shzt != null">
			and s.SHZT = #{shzt}
		</if>
		<if test="businessBo != '' and businessBo != null">
			and s.BUSINESS_NO = #{businessBo}
		</if>
		<if test="infoTmpltName != '' and infoTmpltName != null">
			and s.INFO_TMPLT_NAME LIKE '%'||#{infoTmpltName}||'%'
		</if>
		<if test="tmpltType != '' and tmpltType != null">
			and s.TMPLT_TYPE = #{tmpltType}
		</if>
		order by s.REC_GEN_TIME DESC
		) 
	</select>
	<select id="selectAllEStrategs" resultType="com.linkstec.smsc.dto.StrategyDto"
		parameterType="map">
		SELECT
		<include refid="Base_Column_List_1" />
		from E_STRATEGY ORDER BY STRATEGY_NAME
	</select>
	
	<!-- 更新模板表 -->
	<update id="updateTInfoMsgTmplt" parameterType="map">
		UPDATE T_INFO_MSG_TMPLT SET
		REC_UPD_TIME = SYSDATE
		<if test="policyId!=null">
			,POLICY_ID=#{policyId}
		</if>
		<if test="infoTmpltName!=null">
			,INFO_TMPLT_NAME=#{infoTmpltName}
		</if>
		<if test="businessNo!=null">
			,BUSINESS_NO=#{businessNo}
		</if>
		<if test="policySeq!=null">
			,POLICY_SEQ=#{policySeq}
		</if>
		<if test="infoContents!=null">
			,INFO_CONTENTS = #{infoContents}
		</if>
		<if test="tmpltRange!=null">
			,TMPLT_RANGE = #{tmpltRange}
		</if>
		<if test="tmpltType!=null">
			,TMPLT_TYPE = #{tmpltType}
		</if>
		<if test="shzt!=null">
			,SHZT = #{shzt}
		</if>
		<if test="remark!=null">
			,REMARK = #{remark}
		</if>
		WHERE INSID = #{insid}
	</update>
	
	<!-- 删除短信模板 -->
	<delete id="delTInfoMsgTmplt" parameterType="map">
		delete from T_INFO_MSG_TMPLT /*LT*/ WHERE INSID = #{insid}
	</delete>
	
	<!-- 删除短信模板关联参数 -->
	<delete id="delTInfoMsgTmpltParam" parameterType="map">
		delete from T_INFO_TMPLT_PARAM_RELATION 
		where info_msg_tmplt_id = (select info_msg_tmplt_id from T_INFO_MSG_TMPLT WHERE INSID = #{insid} )
	</delete>
	
	<!-- 根据条件查询角色-->
	<select id="selectJsByJsid" resultType="map"
		parameterType="com.linkstec.smsc.dto.TmpltXBS04Dto">
		select ROLE_ID as roleid, ROLE_NAME as rolename from L_ROLE where 1=1
		<if test="jsid!=null">
		and ROLE_ID in (${jsid})
		</if>
		<if test="rolename!=null">
		and ROLE_NAME LIKE  '%'|| #{rolename}||'%'
		</if>
	</select>
	
	<!-- 更新模板表 -->
	<update id="updateTInfoMsgTmpltdel" parameterType="map">
		UPDATE T_INFO_MSG_TMPLT SET
		REC_UPD_TIME = SYSDATE
		<if test="shzt!=null">
			,SHZT = #{shzt}
		</if>
		<if test="insid!=null">
			,INSID = #{insid}
		</if>
		<if test="syfw!=null">
			,SYFW = #{syfw}
		</if>
		WHERE INFO_MSG_TMPLT_ID = #{infoMsgTmpltId}
	</update>
	<sql id="Base_Column_List">
		INFO_MSG_TMPLT_ID,
		INFO_TMPLT_NAME,
		BUSINESS_NO,
		BRANCH_ID,
		POLICY_ID,
		POLICY_SEQ,
		INFO_CONTENTS,
		DEL_FLG,
		TMPLT_TYPE,
		REC_GEN_TIME,
		GEN_MODULE_ID,
		GEN_USER_ID,
		REC_UPD_TIME,
		UPD_MODULE_ID,
		UPD_USER_ID
	</sql>
	
	<select id="selectMsgTmplt" resultMap="BaseResultMap"
		parameterType="map">
		select
		<include refid="Base_Column_List" />
		from T_INFO_MSG_TMPLT
		<where>
			<if test="businessNo !=null">
				and BUSINESS_NO =#{businessNo}
			</if>
			<if test="policyId !=null">
				and POLICY_ID =#{policyId}
			</if>
			<if test="infoMsgTmpltId !=null">
				and INFO_MSG_TMPLT_ID =#{infoMsgTmpltId}
			</if>
		</where>
	</select>	
</mapper>