<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkstec.crm.system.mapper.XT1001Mapper">

	<sql id="Base_Column_List">GGID,GGBT,FBSJ,SXSJ,GGLX,GGNR,FBZID,FJID,GGFL,ZDTS,SFSX,GGNM</sql>
	
	<!-- 获取文档docTypeId -->
	<select id="selectdocTypeId" resultType="Long">
		select 
			DIRECTORY_ID 
		from
			DOC_DIRECTORY 
		where 
			DIRECTORY_NAME = '通知公告'
	</select>
	
	<!-- 公告失效操作 -->
	<select id="updateSFSX" parameterType="map">
		update
			T_SYS_GGGL
		set
			SFSX = '1'
		where
			GGID = #{ggid}
	</select>
	
	<select id="selectGgxx" parameterType="Long" resultType="map">
		select t.*,(select case when t.ggnm='0' then '管理员' else a.member_name end from crm.l_Member a where t.fbzid=a.member_id) fbzxm from T_SYS_GGGL t
		where
			GGID = #{ggid}
	</select>
	
	<!-- 根据用户id找到团队id -->
	<select id="queryOrgIdList" parameterType="map" resultType="com.linkstec.crm.system.dto.AnnouncementDto">
		select
			org_id
		from
			L_MEMBER_ORGANIZATION_REL
		where
			member_id = #{curUserId}
	</select>
	<select id="selectJgids" parameterType="map" resultType="String">
		select t.jgid from crm.T_SYS_GG_JG t where  t.ggid=#{ggid}
	</select>
	
	<select id="queryMyAnnounce" parameterType="map" resultType="com.linkstec.crm.system.dto.AnnouncementDto">
		select A.* ,(case when to_date(to_char(A.fbsj,'yyyyMMdd'),'yyyyMMdd')-1+ zdts &gt;= to_date(to_char(sysdate,'yyyyMMdd'),'yyyyMMdd') then 1  else  0 end) flag,(case when A.zdts!=null then 1 else 0 end) flag1,b.ckzt from (
		select <include refid="Base_Column_List" />
		from 
		crm.T_SYS_GGGL 
		where 1=1
		<include refid="conditions1" />)A left join crm.t_Sys_Gg_Ckzt b on a.ggid=b.ggid and b.member_id=#{fbzid}
		where 1=1  
			<if test="ckzt != null">
			and ckzt =#{ckzt}
		   </if>
	  order by SFSX,flag1 desc,flag desc,FBSJ desc,ckzt
	</select>
	<!-- 查找公告 -->
	<select id="queryAnnounce" parameterType="map" resultType="com.linkstec.crm.system.dto.AnnouncementDto">
		select A.* ,(case when to_date(to_char(A.fbsj,'yyyyMMdd'),'yyyyMMdd')-1+ zdts &gt;= to_date(to_char(sysdate,'yyyyMMdd'),'yyyyMMdd') then 1  else  0 end) flag,(case when A.zdts!=null then 1 else 0 end) flag1,b.ckzt from
		(select 
			<include refid="Base_Column_List" />
		from 
			T_SYS_GGGL /*LT*/
		where  1=1 
			<include refid="conditions1" />
<!-- 			GGLX = '1' -->
<!-- 		union ALL -->
<!-- 		select  -->
<!-- 			<include refid="Base_Column_List" /> -->
<!-- 		from  -->
<!-- 			T_SYS_GGGL  a -->
<!-- 		where  -->
<!-- 			GGLX = '2'    -->
<!-- 			<include refid="conditions2" /> -->
			) A  left join crm.t_Sys_Gg_Ckzt b on a.ggid=b.ggid and b.member_id=#{memberId}
			where 1=1  
			<if test="ckzt != null">
			and ckzt =#{ckzt}
		   </if>
		order by SFSX,flag1 desc,flag desc,FBSJ desc,ckzt
	</select>
	
	<sql id="conditions1">
		<if test="fbsjStart != null">
	    <![CDATA[
	        and FBSJ >= #{fbsjStart,jdbcType=DATE}
	        ]]>
		</if>
		<if test="fbsjEnd != null">
	    <![CDATA[
	        and FBSJ < #{fbsjEnd,jdbcType=DATE} + 1
	        ]]>
		</if>
		<if test="sxsjStart != null">
	    <![CDATA[
	        and SXSJ >= #{sxsjStart,jdbcType=DATE}
	        ]]>
		</if>
		<if test="sxsjEnd != null">
		 <![CDATA[
	        and SXSJ < #{sxsjEnd,jdbcType=DATE} + 1
	        ]]>
		</if>
		<if test="title != null">
			and GGBT Like #{title}||'%'
		</if>
		<if test="ggfl != null">
			and GGFL =#{ggfl}
		</if>
		<if test="sfsx != null">
			and SFSX =#{sfsx}
		</if>
		<if test="fbzid != null">
			and FBZID = #{fbzid,jdbcType=NUMERIC}
		</if>
		<if test="fbzid == null">
		<![CDATA[
	      and FBSJ  < trunc(SYSDATE+1)
	        ]]>
<!-- 			AND SXSJ >= SYSDATE -->
		</if>
		
<!-- 		and SFSX is NULL -->
	</sql>
	
	<sql id="conditions2">
		<if test="fbsjStart != null">
    	<![CDATA[
	        and FBSJ >= #{fbsjStart,jdbcType=DATE}
	        ]]>
		</if>
		<if test="fbsjEnd != null">
	    <![CDATA[
	        and FBSJ < #{fbsjEnd,jdbcType=DATE} + 1
	        ]]>
		</if>
		<if test="sxsjStart != null">
	    <![CDATA[
	        and SXSJ >= #{sxsjStart,jdbcType=DATE}
	        ]]>
		</if>
		<if test="sxsjEnd != null">
	 	<![CDATA[
	        and SXSJ < #{sxsjEnd,jdbcType=DATE} + 1
	        ]]>
		</if>
		<if test="title != null">
			and GGBT Like #{title}||'%'
		</if>
		<if test="fbzid != null">
			and FBZID = #{fbzid,jdbcType=NUMERIC}
		</if>
		<if test="ggfl != null">
			and GGFL = #{ggfl}
		</if>
		<if test="bmid != null">
		    and exists (select 1 from  crm.t_Sys_Gg_Jg b where b.ggid=a.ggid and b.jgid=#{bmid} )
<!-- 			and BMID Like #{bmid}||'%' -->
		</if>
		<if test="orgIdList != null and fbzid == null">
			and
			( TDID is NULL OR TDID = '' OR
			<foreach item="item" index="index" collection="orgIdList" open="(" separator="or" close=")">
				( TDID Like #{item}||'%' )
			</foreach>
			)
		</if>
		<if test="fbzid == null">
		<![CDATA[
	      and FBSJ  <= SYSDATE
	        ]]>
<!-- 			AND SXSJ >= SYSDATE -->
		</if>
		and SFSX is NULL
	</sql>

	<select id="queryAllRyid" parameterType="map" resultType="com.linkstec.lmspcom.mom.api.dto.ConsumerDto">
		select a.user_id consumerNo from L_USER a where a.user_status='1'
	</select>

	<!-- 查询部门下或团队下的用户 -->
	<select id="queryRyid" parameterType="map" resultType="com.linkstec.lmspcom.mom.api.dto.ConsumerDto">
		select  
<!-- 		<if test="orgIdList != null and orgIdList.size()>0"> -->
<!-- 			a.RYID consumerNo,m.member_name consumerDesc -->
<!-- 		from T_EHR_JJR_JBXX /*LT*/ a,L_MEMBER_ORGANIZATION_REL b,L_MEMBER m -->
<!-- 		where a.RYID = m.MEMBER_NUM and b.org_id in -->
<!-- 			<foreach item="item" index="index" collection="orgIdList" open="(" separator="," close=")"> -->
<!-- 				#{item} -->
<!-- 			</foreach> -->
<!-- 			and b.member_id = m.member_id	 -->
<!-- 		</if> -->
		
		<if test="jgids != null">
		   t.user_id consumerNo from crm.l_User t  inner join crm.t_Ehr_Jjr_Jbxx a on t.member_id=a.ryid
		where a.JGID in
		<foreach collection="jgids" open="(" separator=","
				close=")" item="item">
				#{item}
		</foreach>
		</if>
	</select>
	
	<update id="UpCkzt" parameterType="map">
		UPDATE T_SYS_GG_CKZT
		SET
		CKZT=1
		where MEMBER_ID=#{memberId} AND GGID=#{ggid}
	</update>
	
    <!-- 往t_Sys_Gg_Ckzt表insert -->
	<insert id="insertIntoTSysGgCkzt" parameterType="com.linkstec.crm.system.po.TSysGgCkzt">
	insert into crm.t_Sys_Gg_Ckzt (ggid, member_id, ckzt)  
    select #{ggid}, t1.member_id, '0'
    from (select a.member_id, '1' flag from crm.l_Member a) t1
 
	</insert>
</mapper>